/*
    Description: 	Pricing Tables Framework
    Author: 		Insidelabdev
    Version: 		2.0
*/
	
/*	--------------------------------------------------
	:: Body & Reset
	-------------------------------------------------- */
	
	* { margin:0; padding:0; }
	
	body { 
	    overflow-y:scroll; 
		overflow-x:hidden; 
		background-color:#dee5eb;
	}

/*	--------------------------------------------------
	:: Wrapper
	-------------------------------------------------- */
	
    .pricing-widget-wrapper {
	    position:relative;
		display:block;
        max-width:1200px; /* REMOVE THIS IF YOU DON´T NEED PRICING TABLES WRAPPER 1200PX */		
		width:100%; 
		margin:100px auto;  
		padding:20px;  
		height:auto;
        -webkit-box-sizing:border-box;
	       -moz-box-sizing:border-box; 
	            box-sizing:border-box;	
	}

/*	--------------------------------------------------
	:: Pricing Tables Widget
	-------------------------------------------------- */
	
	.pricing-tables-widget { 
	    position:relative;
	    display:block;
	    margin:0;
	    padding:0;
		width:100%;
		font-size:0;
		-webkit-box-sizing:border-box;
		   -moz-box-sizing:border-box; 
				box-sizing:border-box;
	}
	
/*	--------------------------------------------------
	:: Pricing Tables Widget Header
	-------------------------------------------------- */
	
	.pricing-tables-widget .pricing-tables-widget-header {
	    position:relative;
		display:block;
	    padding:20px;
		margin:0;
		width:100%;
		height:190px;
		text-align:left;
		-webkit-box-sizing:border-box;
		   -moz-box-sizing:border-box; 
				box-sizing:border-box;
    }
	
	.pricing-tables-widget .pricing-tables-widget-header h4{
        text-transform:uppercase;
        font-style:normal; 
	    font-weight:700; 
	    font-family:"Roboto"; 
	    font-size:14px;
		line-height:26px;
    }
	
	.pricing-tables-widget .pricing-tables-widget-header p{
        font-style:normal; 
	    font-weight:400; 
		text-transform:uppercase;
	    font-family:"Raleway"; 
	    font-size:10px;
		padding:0 0 15px 0;
    }
	
	.pricing-tables-widget .pricing-tables-widget-header span{
	    font-style:normal; 
	    font-weight:400; 
	    font-family:"Raleway";
	    font-size:14px;
    }
	
	.pricing-tables-widget .pricing-tables-widget-header .pricing-tables-widget-price{
	    font-style:normal; 
	    font-weight:700; 
	    font-family:"Roboto";
	    font-size:30px;
		padding:10px 0 5px 0;
    }
	
	.pricing-tables-widget .pricing-tables-widget-header .pricing-tables-widget-savings{
		text-transform:uppercase;
        font-style:normal; 
	    font-weight:900; 
	    font-family:"Roboto";
	    font-size:11px;
		line-height:22px;
    }
	
	.pricing-tables-widget .pricing-tables-widget-header .pricing-tables-widget-purchase{
		text-transform:uppercase;
        font-style:normal; 
	    font-weight:400; 
	    font-family:"Roboto";
	    font-size:11px;
    }
	
/*	--------------------------------------------------
	:: Pricing Tables Widget Media Holder
	-------------------------------------------------- */
	
	.pricing-tables-widget .pricing-tables-widget-header .pricing-tables-widget-media-holder {
		position:absolute;
		display:block;
		bottom:16px;
		right:20px;
	    margin:0;
		padding:0;
		-webkit-box-sizing:border-box;
		   -moz-box-sizing:border-box; 
				box-sizing:border-box;
    }
	
	.pricing-tables-widget .pricing-tables-widget-header .pricing-tables-widget-media-holder i {
		font-style:normal; 
	    font-weight:normal; 
	    font-size:40px;
		vertical-align:baseline;
    }
	
/*	--------------------------------------------------
	:: Pricing Tables Widget Section
	-------------------------------------------------- */

	.pricing-tables-widget .pricing-tables-widget-section {
	    position:relative;
		display:block;
	    margin:0;
		padding:17px 20px 20px 20px;
		width:100%;
		height:190px;
		text-align:left;
		-webkit-box-sizing:border-box;
		   -moz-box-sizing:border-box; 
				box-sizing:border-box;
    }
	
	.pricing-tables-widget .pricing-tables-widget-section ul{
	    position:relative;
		display:block;
        margin:0; 
		padding:0;
    }
	
	.pricing-tables-widget .pricing-tables-widget-section ul li {
		position:relative; /* IMPORTANT FOR TOOLTIP POSITION */
		cursor:default;
		font-style:normal; 
	    font-weight:normal; 
	    font-family:"Open Sans"; 
	    font-size:13px;
		padding:10px 0;
		list-style:none;
    }
	
	.pricing-tables-widget .pricing-tables-widget-section ul li i {
		font-style:normal; 
	    font-weight:normal; 
	    font-size:12px;
		margin-right:10px;
		vertical-align:baseline;
    }
	
	.pricing-tables-widget .pricing-tables-widget-section ul li .pricing-tables-widget-bold {
		font-style:normal; 
	    font-weight:900; 
	    font-family:"Roboto"; 
	    font-size:13px;
    }
	
/*	--------------------------------------------------
	:: Pricing Tables Widget Badges
	-------------------------------------------------- */
	
	.pricing-tables-widget .pricing-tables-widget-section ul li .pricing-tables-widget-badges {
		position:relative;
		display:inline-block;
        margin:0 0 0 10px;
        padding:2px 5px;
		text-transform:uppercase;
		font-style:normal; 
	    font-weight:normal; 
	    font-family:"Open Sans"; 
	    font-size:10px;
        -webkit-border-radius:2px;
	       -moz-border-radius:2px; 
	            border-radius:2px;
    }
	
/*	--------------------------------------------------
	:: Pricing Tables Widget Tooltips
	-------------------------------------------------- */
		
	.pricing-tables-widget .pricing-tables-widget-section .pricing-tables-widget-tooltip {
		position:absolute;
		display:inline-block;
		padding:15px 20px;
		z-index:9;
		word-wrap:break-word;
		pointer-events:none;
		-webkit-border-radius:3px;
		   -moz-border-radius:3px; 
				border-radius:3px;
	}
	
	.pricing-tables-widget .pricing-tables-widget-section .pricing-tables-widget-tooltip:before {
		content:attr(data-tooltip);
		position:relative;
		display:block;
		font-style:normal; 
		font-weight:400; 
		font-family:"Roboto";
		text-transform:uppercase;			
		font-size:11px;
		line-height:20px;
	}
	
	.pricing-tables-widget .pricing-tables-widget-section .pricing-tables-widget-tooltip:after {
		position:absolute;
		content:"";
		width:0;
		height:0;
	}
	
	/* HIDE TOOLTIP ON DEFAULT */
	.pricing-tables-widget .pricing-tables-widget-section ul li .pricing-tables-widget-tooltip {
		visibility:hidden;
		opacity:0;
		pointer-events:none;
	}
	
	/* SHOW TOOLTIP ON HOVER */
	.pricing-tables-widget .pricing-tables-widget-section ul li:hover .pricing-tables-widget-tooltip {
		visibility:visible;
		opacity:1;
		pointer-events:none;
	}

/*	--------------------------------------------------
	:: Pricing Tables Widget Tooltips Top
	-------------------------------------------------- */
	
	.pricing-tables-widget .pricing-tables-widget-section .pricing-tables-widget-tooltip.pricing-tables-widget-top-left.pricing-tables-widget-fixed{
		text-align:left;
		margin:0 0 5px 0;
		bottom:100%;
		left:-25px;
	}

/*	--------------------------------------------------
	:: Pricing Tables Widget Tooltips Top Animation
	-------------------------------------------------- */
	
	.pricing-tables-widget .pricing-tables-widget-section .pricing-tables-widget-tooltip.pricing-tables-widget-top-left {
		-webkit-transform:translateY(10px);
		   -moz-transform:translateY(10px);
				transform:translateY(10px);
		-webkit-transition:all 0.4s ease-out;
		   -moz-transition:all 0.4s ease-out;
				transition:all 0.4s ease-out;
	}
	
	.pricing-tables-widget .pricing-tables-widget-section ul li:hover .pricing-tables-widget-tooltip.pricing-tables-widget-top-left {
		-webkit-transform:translateY(0px);
		   -moz-transform:translateY(0px);
				transform:translateY(0px);
	}

/*	--------------------------------------------------
	:: Pricing Tables Widget Tooltips Width Fixed
	-------------------------------------------------- */
	
	.pricing-tables-widget .pricing-tables-widget-section .pricing-tables-widget-tooltip.pricing-tables-widget-fixed {
		width:300px;
		-webkit-box-sizing:border-box;
		   -moz-box-sizing:border-box; 
				box-sizing:border-box;
	}
	
/*	--------------------------------------------------
	:: Pricing Tables Widget Tooltips Arrow Position
	-------------------------------------------------- */
	
	.pricing-tables-widget .pricing-tables-widget-section .pricing-tables-widget-tooltip.pricing-tables-widget-top-left:after { 
		top:100%;
		left:20px;
	}
	
/*	--------------------------------------------------
	:: Pricing Tables Widget Footer
	-------------------------------------------------- */
	
	.pricing-tables-widget .pricing-tables-widget-footer {
	    position:relative;
		display:block;
	    margin:0;
		padding:55px 20px;
		width:100%;
		height:190px;
		text-align:center;
		-webkit-box-sizing:border-box;
		   -moz-box-sizing:border-box; 
				box-sizing:border-box;
    }
	
	.pricing-tables-widget .pricing-tables-widget-footer p{
        font-style:normal; 
	    font-weight:400; 
		text-transform:uppercase;
	    font-family:"Roboto";
	    font-size:10px;
		margin:0;
		padding:10px 0 0 0;
    }
	
	.pricing-tables-widget .pricing-tables-widget-footer i {
	    font-style:normal; 
	    font-weight:normal; 
	    font-size:10px;
		margin-right:5px;
		vertical-align:baseline;
    }
	
	.pricing-tables-widget .pricing-tables-widget-footer .pricing-tables-widget-secure{
		font-style:normal; 
	    font-weight:900; 
		text-transform:uppercase;
	    font-family:"Roboto";
	    font-size:11px;
		margin:0;
		padding:3px 0 0 0;
    }
	
	.pricing-tables-widget .pricing-tables-widget-footer .pricing-tables-widget-purchase-button {
	    position:relative;
		display:block;
	    margin:0;
		width:100%;
		padding:15px 20px;
		text-decoration:none;
		text-transform:uppercase;
		font-style:normal; 
	    font-weight:900; 
	    font-family:"Roboto"; 
	    font-size:11px;
		border:none;
		cursor:pointer;
		text-align:center;
		-webkit-border-radius:2px;
		   -moz-border-radius:2px;
				border-radius:2px;
		-webkit-box-sizing:border-box;
		   -moz-box-sizing:border-box; 
				box-sizing:border-box;
    }
	
	.pricing-tables-widget .pricing-tables-widget-footer .pricing-tables-widget-purchase-button:hover,
	.pricing-tables-widget .pricing-tables-widget-footer .pricing-tables-widget-purchase-button:focus {
	    outline:none;
		border:none;
    }

/*	--------------------------------------------------
	:: Font IcoMoon Ultimate
	-------------------------------------------------- */

	@font-face {
		font-family:'icomoon-ultimate';
		src: url('../../../font/icomoon-ultimate.ttf') format('truetype');
		font-weight:normal;
		font-style:normal;
	}

    [class*="icomoon-"]:before {
	    font-family:'icomoon-ultimate';
		speak:none;
		font-style:normal;
		font-weight:normal;
		font-variant:normal;
		text-transform:none;
		line-height:1;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
	}
	
	.icomoon-home:before { content:"\e900"; }
	.icomoon-home2:before { content:"\e901"; }
	.icomoon-home3:before { content:"\e902"; }
	.icomoon-home4:before { content:"\e903"; }
	.icomoon-home5:before { content:"\e904"; }
	.icomoon-home6:before { content:"\e905"; }
	.icomoon-home7:before { content:"\e906"; }
	.icomoon-home8:before { content:"\e907"; }
	.icomoon-home9:before { content:"\e908"; }
	.icomoon-office:before { content:"\e909"; }
	.icomoon-city:before { content:"\e90a"; }
	.icomoon-newspaper:before { content:"\e90b"; }
	.icomoon-magazine:before { content:"\e90c"; }
	.icomoon-design:before { content:"\e90d"; }
	.icomoon-pencil:before { content:"\e90e"; }
	.icomoon-pencil2:before { content:"\e90f"; }
	.icomoon-pencil3:before { content:"\e910"; }
	.icomoon-pencil4:before { content:"\e911"; }
	.icomoon-pencil5:before { content:"\e912"; }
	.icomoon-pencil6:before { content:"\e913"; }
	.icomoon-pencil7:before { content:"\e914"; }
	.icomoon-eraser:before { content:"\e915"; }
	.icomoon-eraser2:before { content:"\e916"; }
	.icomoon-eraser3:before { content:"\e917"; }
	.icomoon-quill:before { content:"\e918"; }
	.icomoon-quill2:before { content:"\e919"; }
	.icomoon-quill3:before { content:"\e91a"; }
	.icomoon-quill4:before { content:"\e91b"; }
	.icomoon-pen:before { content:"\e91c"; }
	.icomoon-pen-plus:before { content:"\e91d"; }
	.icomoon-pen-minus:before { content:"\e91e"; }
	.icomoon-pen2:before { content:"\e91f"; }
	.icomoon-pen3:before { content:"\e920"; }
	.icomoon-pen4:before { content:"\e921"; }
	.icomoon-pen5:before { content:"\e922"; }
	.icomoon-marker:before { content:"\e923"; }
	.icomoon-marker2:before { content:"\e924"; }
	.icomoon-blog:before { content:"\e925"; }
	.icomoon-blog2:before { content:"\e926"; }
	.icomoon-pen6:before { content:"\e927"; }
	.icomoon-brush:before { content:"\e928"; }
	.icomoon-spray:before { content:"\e929"; }
	.icomoon-palette:before { content:"\e92a"; }
	.icomoon-palette2:before { content:"\e92b"; }
	.icomoon-color-sampler:before { content:"\e92c"; }
	.icomoon-toggle:before { content:"\e92d"; }
	.icomoon-bucket:before { content:"\e92e"; }
	.icomoon-bucket2:before { content:"\e92f"; }
	.icomoon-gradient:before { content:"\e930"; }
	.icomoon-eyedropper:before { content:"\e931"; }
	.icomoon-eyedropper2:before { content:"\e932"; }
	.icomoon-eyedropper3:before { content:"\e933"; }
	.icomoon-droplet:before { content:"\e934"; }
	.icomoon-droplet2:before { content:"\e935"; }
	.icomoon-droplet-contrast:before { content:"\e936"; }
	.icomoon-color-clear:before { content:"\e937"; }
	.icomoon-paint-format:before { content:"\e938"; }
	.icomoon-stamp:before { content:"\e939"; }
	.icomoon-images:before { content:"\e93a"; }
	.icomoon-image:before { content:"\e93b"; }
	.icomoon-image2:before { content:"\e93c"; }
	.icomoon-image-compare:before { content:"\e93d"; }
	.icomoon-images2:before { content:"\e93e"; }
	.icomoon-image3:before { content:"\e93f"; }
	.icomoon-images3:before { content:"\e940"; }
	.icomoon-image4:before { content:"\e941"; }
	.icomoon-image5:before { content:"\e942"; }
	.icomoon-image6:before { content:"\e943"; }
	.icomoon-camera:before { content:"\e944"; }
	.icomoon-camera2:before { content:"\e945"; }
	.icomoon-camera3:before { content:"\e946"; }
	.icomoon-shutter:before { content:"\e947"; }
	.icomoon-headphones:before { content:"\e948"; }
	.icomoon-headset:before { content:"\e949"; }
	.icomoon-music:before { content:"\e94a"; }
	.icomoon-music2:before { content:"\e94b"; }
	.icomoon-music3:before { content:"\e94c"; }
	.icomoon-music4:before { content:"\e94d"; }
	.icomoon-music5:before { content:"\e94e"; }
	.icomoon-music6:before { content:"\e94f"; }
	.icomoon-album:before { content:"\e950"; }
	.icomoon-cassette:before { content:"\e951"; }
	.icomoon-tape:before { content:"\e952"; }
	.icomoon-piano:before { content:"\e953"; }
	.icomoon-guitar:before { content:"\e954"; }
	.icomoon-trumpet:before { content:"\e955"; }
	.icomoon-speakers:before { content:"\e956"; }
	.icomoon-play:before { content:"\e957"; }
	.icomoon-play2:before { content:"\e958"; }
	.icomoon-clapboard-play:before { content:"\e959"; }
	.icomoon-clapboard:before { content:"\e95a"; }
	.icomoon-media:before { content:"\e95b"; }
	.icomoon-presentation:before { content:"\e95c"; }
	.icomoon-movie:before { content:"\e95d"; }
	.icomoon-film:before { content:"\e95e"; }
	.icomoon-film2:before { content:"\e95f"; }
	.icomoon-film3:before { content:"\e960"; }
	.icomoon-film4:before { content:"\e961"; }
	.icomoon-video-camera:before { content:"\e962"; }
	.icomoon-video-camera2:before { content:"\e963"; }
	.icomoon-video-camera-slash:before { content:"\e964"; }
	.icomoon-video-camera3:before { content:"\e965"; }
	.icomoon-video-camera4:before { content:"\e966"; }
	.icomoon-video-camera-slash2:before { content:"\e967"; }
	.icomoon-video-camera5:before { content:"\e968"; }
	.icomoon-recording:before { content:"\e969"; }
	.icomoon-dice:before { content:"\e96a"; }
	.icomoon-gamepad:before { content:"\e96b"; }
	.icomoon-gamepad2:before { content:"\e96c"; }
	.icomoon-gamepad3:before { content:"\e96d"; }
	.icomoon-pacman:before { content:"\e96e"; }
	.icomoon-spades:before { content:"\e96f"; }
	.icomoon-clubs:before { content:"\e970"; }
	.icomoon-diamonds:before { content:"\e971"; }
	.icomoon-chess-king:before { content:"\e972"; }
	.icomoon-chess-queen:before { content:"\e973"; }
	.icomoon-chess-rook:before { content:"\e974"; }
	.icomoon-chess-bishop:before { content:"\e975"; }
	.icomoon-chess-knight:before { content:"\e976"; }
	.icomoon-chess-pawn:before { content:"\e977"; }
	.icomoon-chess:before { content:"\e978"; }
	.icomoon-bullhorn:before { content:"\e979"; }
	.icomoon-megaphone:before { content:"\e97a"; }
	.icomoon-new:before { content:"\e97b"; }
	.icomoon-connection:before { content:"\e97c"; }
	.icomoon-connection2:before { content:"\e97d"; }
	.icomoon-connection3:before { content:"\e97e"; }
	.icomoon-connection4:before { content:"\e97f"; }
	.icomoon-podcast:before { content:"\e980"; }
	.icomoon-station:before { content:"\e981"; }
	.icomoon-station2:before { content:"\e982"; }
	.icomoon-antenna:before { content:"\e983"; }
	.icomoon-satellite-dish:before { content:"\e984"; }
	.icomoon-satellite-dish2:before { content:"\e985"; }
	.icomoon-feed:before { content:"\e986"; }
	.icomoon-podcast2:before { content:"\e987"; }
	.icomoon-antenna2:before { content:"\e988"; }
	.icomoon-mic:before { content:"\e989"; }
	.icomoon-mic-off:before { content:"\e98a"; }
	.icomoon-mic2:before { content:"\e98b"; }
	.icomoon-mic-off2:before { content:"\e98c"; }
	.icomoon-mic3:before { content:"\e98d"; }
	.icomoon-mic4:before { content:"\e98e"; }
	.icomoon-mic5:before { content:"\e98f"; }
	.icomoon-book:before { content:"\e990"; }
	.icomoon-book2:before { content:"\e991"; }
	.icomoon-book-play:before { content:"\e992"; }
	.icomoon-book3:before { content:"\e993"; }
	.icomoon-bookmark:before { content:"\e994"; }
	.icomoon-books:before { content:"\e995"; }
	.icomoon-archive:before { content:"\e996"; }
	.icomoon-reading:before { content:"\e997"; }
	.icomoon-library:before { content:"\e998"; }
	.icomoon-library2:before { content:"\e999"; }
	.icomoon-graduation:before { content:"\e99a"; }
	.icomoon-file-text:before { content:"\e99b"; }
	.icomoon-profile:before { content:"\e99c"; }
	.icomoon-file-empty:before { content:"\e99d"; }
	.icomoon-file-empty2:before { content:"\e99e"; }
	.icomoon-files-empty:before { content:"\e99f"; }
	.icomoon-files-empty2:before { content:"\e9a0"; }
	.icomoon-file-plus:before { content:"\e9a1"; }
	.icomoon-file-plus2:before { content:"\e9a2"; }
	.icomoon-file-minus:before { content:"\e9a3"; }
	.icomoon-file-minus2:before { content:"\e9a4"; }
	.icomoon-file-download:before { content:"\e9a5"; }
	.icomoon-file-download2:before { content:"\e9a6"; }
	.icomoon-file-upload:before { content:"\e9a7"; }
	.icomoon-file-upload2:before { content:"\e9a8"; }
	.icomoon-file-check:before { content:"\e9a9"; }
	.icomoon-file-check2:before { content:"\e9aa"; }
	.icomoon-file-eye:before { content:"\e9ab"; }
	.icomoon-file-eye2:before { content:"\e9ac"; }
	.icomoon-file-text2:before { content:"\e9ad"; }
	.icomoon-file-text3:before { content:"\e9ae"; }
	.icomoon-file-picture:before { content:"\e9af"; }
	.icomoon-file-picture2:before { content:"\e9b0"; }
	.icomoon-file-music:before { content:"\e9b1"; }
	.icomoon-file-music2:before { content:"\e9b2"; }
	.icomoon-file-play:before { content:"\e9b3"; }
	.icomoon-file-play2:before { content:"\e9b4"; }
	.icomoon-file-video:before { content:"\e9b5"; }
	.icomoon-file-video2:before { content:"\e9b6"; }
	.icomoon-copy:before { content:"\e9b7"; }
	.icomoon-copy2:before { content:"\e9b8"; }
	.icomoon-file-zip:before { content:"\e9b9"; }
	.icomoon-file-zip2:before { content:"\e9ba"; }
	.icomoon-file-xml:before { content:"\e9bb"; }
	.icomoon-file-xml2:before { content:"\e9bc"; }
	.icomoon-file-css:before { content:"\e9bd"; }
	.icomoon-file-css2:before { content:"\e9be"; }
	.icomoon-file-presentation:before { content:"\e9bf"; }
	.icomoon-file-presentation2:before { content:"\e9c0"; }
	.icomoon-file-stats:before { content:"\e9c1"; }
	.icomoon-file-stats2:before { content:"\e9c2"; }
	.icomoon-file-locked:before { content:"\e9c3"; }
	.icomoon-file-locked2:before { content:"\e9c4"; }
	.icomoon-file-spreadsheet:before { content:"\e9c5"; }
	.icomoon-file-spreadsheet2:before { content:"\e9c6"; }
	.icomoon-copy3:before { content:"\e9c7"; }
	.icomoon-copy4:before { content:"\e9c8"; }
	.icomoon-paste:before { content:"\e9c9"; }
	.icomoon-paste2:before { content:"\e9ca"; }
	.icomoon-paste3:before { content:"\e9cb"; }
	.icomoon-paste4:before { content:"\e9cc"; }
	.icomoon-stack:before { content:"\e9cd"; }
	.icomoon-stack2:before { content:"\e9ce"; }
	.icomoon-stack3:before { content:"\e9cf"; }
	.icomoon-folder:before { content:"\e9d0"; }
	.icomoon-folder-search:before { content:"\e9d1"; }
	.icomoon-folder-download:before { content:"\e9d2"; }
	.icomoon-folder-upload:before { content:"\e9d3"; }
	.icomoon-folder-plus:before { content:"\e9d4"; }
	.icomoon-folder-plus2:before { content:"\e9d5"; }
	.icomoon-folder-minus:before { content:"\e9d6"; }
	.icomoon-folder-minus2:before { content:"\e9d7"; }
	.icomoon-folder-check:before { content:"\e9d8"; }
	.icomoon-folder-heart:before { content:"\e9d9"; }
	.icomoon-folder-remove:before { content:"\e9da"; }
	.icomoon-folder2:before { content:"\e9db"; }
	.icomoon-folder-open:before { content:"\e9dc"; }
	.icomoon-folder3:before { content:"\e9dd"; }
	.icomoon-folder4:before { content:"\e9de"; }
	.icomoon-folder-plus3:before { content:"\e9df"; }
	.icomoon-folder-minus3:before { content:"\e9e0"; }
	.icomoon-folder-plus4:before { content:"\e9e1"; }
	.icomoon-folder-minus4:before { content:"\e9e2"; }
	.icomoon-folder-download2:before { content:"\e9e3"; }
	.icomoon-folder-upload2:before { content:"\e9e4"; }
	.icomoon-folder-download3:before { content:"\e9e5"; }
	.icomoon-folder-upload3:before { content:"\e9e6"; }
	.icomoon-folder5:before { content:"\e9e7"; }
	.icomoon-folder-open2:before { content:"\e9e8"; }
	.icomoon-folder6:before { content:"\e9e9"; }
	.icomoon-folder-open3:before { content:"\e9ea"; }
	.icomoon-certificate:before { content:"\e9eb"; }
	.icomoon-cc:before { content:"\e9ec"; }
	.icomoon-price-tag:before { content:"\e9ed"; }
	.icomoon-price-tag2:before { content:"\e9ee"; }
	.icomoon-price-tags:before { content:"\e9ef"; }
	.icomoon-price-tag3:before { content:"\e9f0"; }
	.icomoon-price-tags2:before { content:"\e9f1"; }
	.icomoon-price-tag4:before { content:"\e9f2"; }
	.icomoon-price-tags3:before { content:"\e9f3"; }
	.icomoon-price-tag5:before { content:"\e9f4"; }
	.icomoon-price-tags4:before { content:"\e9f5"; }
	.icomoon-barcode:before { content:"\e9f6"; }
	.icomoon-barcode2:before { content:"\e9f7"; }
	.icomoon-qrcode:before { content:"\e9f8"; }
	.icomoon-ticket:before { content:"\e9f9"; }
	.icomoon-ticket2:before { content:"\e9fa"; }
	.icomoon-theater:before { content:"\e9fb"; }
	.icomoon-store:before { content:"\e9fc"; }
	.icomoon-store2:before { content:"\e9fd"; }
	.icomoon-cart:before { content:"\e9fe"; }
	.icomoon-cart2:before { content:"\e9ff"; }
	.icomoon-cart3:before { content:"\ea00"; }
	.icomoon-cart4:before { content:"\ea01"; }
	.icomoon-cart5:before { content:"\ea02"; }
	.icomoon-cart-add:before { content:"\ea03"; }
	.icomoon-cart-add2:before { content:"\ea04"; }
	.icomoon-cart-remove:before { content:"\ea05"; }
	.icomoon-basket:before { content:"\ea06"; }
	.icomoon-bag:before { content:"\ea07"; }
	.icomoon-bag2:before { content:"\ea08"; }
	.icomoon-percent:before { content:"\ea09"; }
	.icomoon-coins:before { content:"\ea0a"; }
	.icomoon-coin-dollar:before { content:"\ea0b"; }
	.icomoon-coin-euro:before { content:"\ea0c"; }
	.icomoon-coin-pound:before { content:"\ea0d"; }
	.icomoon-coin-yen:before { content:"\ea0e"; }
	.icomoon-piggy-bank:before { content:"\ea0f"; }
	.icomoon-wallet:before { content:"\ea10"; }
	.icomoon-cash:before { content:"\ea11"; }
	.icomoon-cash2:before { content:"\ea12"; }
	.icomoon-cash3:before { content:"\ea13"; }
	.icomoon-cash4:before { content:"\ea14"; }
	.icomoon-credit-card:before { content:"\ea15"; }
	.icomoon-credit-card2:before { content:"\ea16"; }
	.icomoon-calculator:before { content:"\ea17"; }
	.icomoon-calculator2:before { content:"\ea18"; }
	.icomoon-calculator3:before { content:"\ea19"; }
	.icomoon-chip:before { content:"\ea1a"; }
	.icomoon-lifebuoy:before { content:"\ea1b"; }
	.icomoon-phone:before { content:"\ea1c"; }
	.icomoon-phone2:before { content:"\ea1d"; }
	.icomoon-phone-slash:before { content:"\ea1e"; }
	.icomoon-phone-wave:before { content:"\ea1f"; }
	.icomoon-phone-plus:before { content:"\ea20"; }
	.icomoon-phone-minus:before { content:"\ea21"; }
	.icomoon-phone-plus2:before { content:"\ea22"; }
	.icomoon-phone-minus2:before { content:"\ea23"; }
	.icomoon-phone-incoming:before { content:"\ea24"; }
	.icomoon-phone-outgoing:before { content:"\ea25"; }
	.icomoon-phone3:before { content:"\ea26"; }
	.icomoon-phone-slash2:before { content:"\ea27"; }
	.icomoon-phone-wave2:before { content:"\ea28"; }
	.icomoon-phone-hang-up:before { content:"\ea29"; }
	.icomoon-phone-hang-up2:before { content:"\ea2a"; }
	.icomoon-address-book:before { content:"\ea2b"; }
	.icomoon-address-book2:before { content:"\ea2c"; }
	.icomoon-address-book3:before { content:"\ea2d"; }
	.icomoon-notebook:before { content:"\ea2e"; }
	.icomoon-at-sign:before { content:"\ea2f"; }
	.icomoon-envelop:before { content:"\ea30"; }
	.icomoon-envelop2:before { content:"\ea31"; }
	.icomoon-envelop3:before { content:"\ea32"; }
	.icomoon-envelop4:before { content:"\ea33"; }
	.icomoon-envelop5:before { content:"\ea34"; }
	.icomoon-mailbox:before { content:"\ea35"; }
	.icomoon-pushpin:before { content:"\ea36"; }
	.icomoon-pushpin2:before { content:"\ea37"; }
	.icomoon-location:before { content:"\ea38"; }
	.icomoon-location2:before { content:"\ea39"; }
	.icomoon-location3:before { content:"\ea3a"; }
	.icomoon-location4:before { content:"\ea3b"; }
	.icomoon-location5:before { content:"\ea3c"; }
	.icomoon-location6:before { content:"\ea3d"; }
	.icomoon-location7:before { content:"\ea3e"; }
	.icomoon-compass:before { content:"\ea3f"; }
	.icomoon-compass2:before { content:"\ea40"; }
	.icomoon-compass3:before { content:"\ea41"; }
	.icomoon-compass4:before { content:"\ea42"; }
	.icomoon-compass5:before { content:"\ea43"; }
	.icomoon-compass6:before { content:"\ea44"; }
	.icomoon-map:before { content:"\ea45"; }
	.icomoon-map2:before { content:"\ea46"; }
	.icomoon-map3:before { content:"\ea47"; }
	.icomoon-map4:before { content:"\ea48"; }
	.icomoon-map5:before { content:"\ea49"; }
	.icomoon-direction:before { content:"\ea4a"; }
	.icomoon-reset:before { content:"\ea4b"; }
	.icomoon-history:before { content:"\ea4c"; }
	.icomoon-clock:before { content:"\ea4d"; }
	.icomoon-clock2:before { content:"\ea4e"; }
	.icomoon-clock3:before { content:"\ea4f"; }
	.icomoon-clock4:before { content:"\ea50"; }
	.icomoon-watch:before { content:"\ea51"; }
	.icomoon-watch2:before { content:"\ea52"; }
	.icomoon-alarm:before { content:"\ea53"; }
	.icomoon-alarm-add:before { content:"\ea54"; }
	.icomoon-alarm-check:before { content:"\ea55"; }
	.icomoon-alarm-cancel:before { content:"\ea56"; }
	.icomoon-bell:before { content:"\ea57"; }
	.icomoon-bell2:before { content:"\ea58"; }
	.icomoon-bell3:before { content:"\ea59"; }
	.icomoon-bell-plus:before { content:"\ea5a"; }
	.icomoon-bell-minus:before { content:"\ea5b"; }
	.icomoon-bell-check:before { content:"\ea5c"; }
	.icomoon-bell-cross:before { content:"\ea5d"; }
	.icomoon-stopwatch:before { content:"\ea5e"; }
	.icomoon-calendar:before { content:"\ea5f"; }
	.icomoon-calendar2:before { content:"\ea60"; }
	.icomoon-calendar3:before { content:"\ea61"; }
	.icomoon-calendar4:before { content:"\ea62"; }
	.icomoon-calendar5:before { content:"\ea63"; }
	.icomoon-calendar-empty:before { content:"\ea64"; }
	.icomoon-calendar-day:before { content:"\ea65"; }
	.icomoon-calendar-week:before { content:"\ea66"; }
	.icomoon-printer:before { content:"\ea67"; }
	.icomoon-printer2:before { content:"\ea68"; }
	.icomoon-printer3:before { content:"\ea69"; }
	.icomoon-printer4:before { content:"\ea6a"; }
	.icomoon-shredder:before { content:"\ea6b"; }
	.icomoon-mouse:before { content:"\ea6c"; }
	.icomoon-mouse2:before { content:"\ea6d"; }
	.icomoon-mouse-left:before { content:"\ea6e"; }
	.icomoon-mouse-right:before { content:"\ea6f"; }
	.icomoon-keyboard:before { content:"\ea70"; }
	.icomoon-keyboard2:before { content:"\ea71"; }
	.icomoon-typewriter:before { content:"\ea72"; }
	.icomoon-display:before { content:"\ea73"; }
	.icomoon-display2:before { content:"\ea74"; }
	.icomoon-display3:before { content:"\ea75"; }
	.icomoon-display4:before { content:"\ea76"; }
	.icomoon-laptop:before { content:"\ea77"; }
	.icomoon-mobile:before { content:"\ea78"; }
	.icomoon-mobile2:before { content:"\ea79"; }
	.icomoon-tablet:before { content:"\ea7a"; }
	.icomoon-mobile3:before { content:"\ea7b"; }
	.icomoon-tv:before { content:"\ea7c"; }
	.icomoon-radio:before { content:"\ea7d"; }
	.icomoon-cabinet:before { content:"\ea7e"; }
	.icomoon-drawer:before { content:"\ea7f"; }
	.icomoon-drawer2:before { content:"\ea80"; }
	.icomoon-drawer-out:before { content:"\ea81"; }
	.icomoon-drawer-in:before { content:"\ea82"; }
	.icomoon-drawer3:before { content:"\ea83"; }
	.icomoon-box:before { content:"\ea84"; }
	.icomoon-box-add:before { content:"\ea85"; }
	.icomoon-box-remove:before { content:"\ea86"; }
	.icomoon-download:before { content:"\ea87"; }
	.icomoon-upload:before { content:"\ea88"; }
	.icomoon-floppy-disk:before { content:"\ea89"; }
	.icomoon-floppy-disks:before { content:"\ea8a"; }
	.icomoon-floppy-disks2:before { content:"\ea8b"; }
	.icomoon-floppy-disk2:before { content:"\ea8c"; }
	.icomoon-floppy-disk3:before { content:"\ea8d"; }
	.icomoon-disk:before { content:"\ea8e"; }
	.icomoon-disk2:before { content:"\ea8f"; }
	.icomoon-usb-stick:before { content:"\ea90"; }
	.icomoon-drive:before { content:"\ea91"; }
	.icomoon-server:before { content:"\ea92"; }
	.icomoon-database:before { content:"\ea93"; }
	.icomoon-database2:before { content:"\ea94"; }
	.icomoon-database3:before { content:"\ea95"; }
	.icomoon-database4:before { content:"\ea96"; }
	.icomoon-database-menu:before { content:"\ea97"; }
	.icomoon-database-add:before { content:"\ea98"; }
	.icomoon-database-remove:before { content:"\ea99"; }
	.icomoon-database-insert:before { content:"\ea9a"; }
	.icomoon-database-export:before { content:"\ea9b"; }
	.icomoon-database-upload:before { content:"\ea9c"; }
	.icomoon-database-refresh:before { content:"\ea9d"; }
	.icomoon-database-diff:before { content:"\ea9e"; }
	.icomoon-database-edit:before { content:"\ea9f"; }
	.icomoon-database-edit2:before { content:"\eaa0"; }
	.icomoon-database-check:before { content:"\eaa1"; }
	.icomoon-database-arrow:before { content:"\eaa2"; }
	.icomoon-database-time:before { content:"\eaa3"; }
	.icomoon-database-time2:before { content:"\eaa4"; }
	.icomoon-undo:before { content:"\eaa5"; }
	.icomoon-redo:before { content:"\eaa6"; }
	.icomoon-rotate-ccw:before { content:"\eaa7"; }
	.icomoon-rotate-cw:before { content:"\eaa8"; }
	.icomoon-rotate-ccw2:before { content:"\eaa9"; }
	.icomoon-rotate-cw2:before { content:"\eaaa"; }
	.icomoon-rotate-ccw3:before { content:"\eaab"; }
	.icomoon-rotate-cw3:before { content:"\eaac"; }
	.icomoon-flip-vertical:before { content:"\eaad"; }
	.icomoon-flip-vertical2:before { content:"\eaae"; }
	.icomoon-flip-horizontal:before { content:"\eaaf"; }
	.icomoon-flip-horizontal2:before { content:"\eab0"; }
	.icomoon-flip-vertical3:before { content:"\eab1"; }
	.icomoon-flip-vertical4:before { content:"\eab2"; }
	.icomoon-angle:before { content:"\eab3"; }
	.icomoon-shear:before { content:"\eab4"; }
	.icomoon-unite:before { content:"\eab5"; }
	.icomoon-subtract:before { content:"\eab6"; }
	.icomoon-interset:before { content:"\eab7"; }
	.icomoon-exclude:before { content:"\eab8"; }
	.icomoon-align-left:before { content:"\eab9"; }
	.icomoon-align-center-horizontal:before { content:"\eaba"; }
	.icomoon-align-right:before { content:"\eabb"; }
	.icomoon-align-top:before { content:"\eabc"; }
	.icomoon-align-center-vertical:before { content:"\eabd"; }
	.icomoon-align-bottom:before { content:"\eabe"; }
	.icomoon-undo2:before { content:"\eabf"; }
	.icomoon-redo2:before { content:"\eac0"; }
	.icomoon-forward:before { content:"\eac1"; }
	.icomoon-reply:before { content:"\eac2"; }
	.icomoon-reply-all:before { content:"\eac3"; }
	.icomoon-bubble:before { content:"\eac4"; }
	.icomoon-bubbles:before { content:"\eac5"; }
	.icomoon-bubbles2:before { content:"\eac6"; }
	.icomoon-bubble2:before { content:"\eac7"; }
	.icomoon-bubbles3:before { content:"\eac8"; }
	.icomoon-bubbles4:before { content:"\eac9"; }
	.icomoon-bubble-notification:before { content:"\eaca"; }
	.icomoon-bubbles5:before { content:"\eacb"; }
	.icomoon-bubbles6:before { content:"\eacc"; }
	.icomoon-bubble3:before { content:"\eacd"; }
	.icomoon-bubble-dots:before { content:"\eace"; }
	.icomoon-bubble-lines:before { content:"\eacf"; }
	.icomoon-bubble4:before { content:"\ead0"; }
	.icomoon-bubble-dots2:before { content:"\ead1"; }
	.icomoon-bubble-lines2:before { content:"\ead2"; }
	.icomoon-bubble5:before { content:"\ead3"; }
	.icomoon-bubble6:before { content:"\ead4"; }
	.icomoon-bubbles7:before { content:"\ead5"; }
	.icomoon-bubble7:before { content:"\ead6"; }
	.icomoon-bubbles8:before { content:"\ead7"; }
	.icomoon-bubble8:before { content:"\ead8"; }
	.icomoon-bubble-dots3:before { content:"\ead9"; }
	.icomoon-bubble-lines3:before { content:"\eada"; }
	.icomoon-bubble9:before { content:"\eadb"; }
	.icomoon-bubble-dots4:before { content:"\eadc"; }
	.icomoon-bubble-lines4:before { content:"\eadd"; }
	.icomoon-bubbles9:before { content:"\eade"; }
	.icomoon-bubbles10:before { content:"\eadf"; }
	.icomoon-bubble-blocked:before { content:"\eae0"; }
	.icomoon-bubble-quote:before { content:"\eae1"; }
	.icomoon-bubble-user:before { content:"\eae2"; }
	.icomoon-bubble-smiley:before { content:"\eae3"; }
	.icomoon-bubble-check:before { content:"\eae4"; }
	.icomoon-bubble-video:before { content:"\eae5"; }
	.icomoon-bubble-link:before { content:"\eae6"; }
	.icomoon-bubble-lock:before { content:"\eae7"; }
	.icomoon-bubble-star:before { content:"\eae8"; }
	.icomoon-bubble-heart:before { content:"\eae9"; }
	.icomoon-bubble-paperclip:before { content:"\eaea"; }
	.icomoon-bubble-cancel:before { content:"\eaeb"; }
	.icomoon-bubble-plus:before { content:"\eaec"; }
	.icomoon-bubble-minus:before { content:"\eaed"; }
	.icomoon-bubble-notification2:before { content:"\eaee"; }
	.icomoon-bubble-left:before { content:"\eaef"; }
	.icomoon-bubble-right:before { content:"\eaf0"; }
	.icomoon-bubble-first:before { content:"\eaf1"; }
	.icomoon-bubble-last:before { content:"\eaf2"; }
	.icomoon-bubble-reply:before { content:"\eaf3"; }
	.icomoon-bubble-forward:before { content:"\eaf4"; }
	.icomoon-bubble-reply2:before { content:"\eaf5"; }
	.icomoon-bubble-forward2:before { content:"\eaf6"; }
	.icomoon-user:before { content:"\eaf7"; }
	.icomoon-users:before { content:"\eaf8"; }
	.icomoon-user-plus:before { content:"\eaf9"; }
	.icomoon-user-minus:before { content:"\eafa"; }
	.icomoon-user-cancel:before { content:"\eafb"; }
	.icomoon-user-block:before { content:"\eafc"; }
	.icomoon-user-lock:before { content:"\eafd"; }
	.icomoon-user-check:before { content:"\eafe"; }
	.icomoon-users2:before { content:"\eaff"; }
	.icomoon-user2:before { content:"\eb00"; }
	.icomoon-users3:before { content:"\eb01"; }
	.icomoon-user-plus2:before { content:"\eb02"; }
	.icomoon-user-minus2:before { content:"\eb03"; }
	.icomoon-user-cancel2:before { content:"\eb04"; }
	.icomoon-user-block2:before { content:"\eb05"; }
	.icomoon-user-lock2:before { content:"\eb06"; }
	.icomoon-user-check2:before { content:"\eb07"; }
	.icomoon-user3:before { content:"\eb08"; }
	.icomoon-user4:before { content:"\eb09"; }
	.icomoon-user5:before { content:"\eb0a"; }
	.icomoon-user6:before { content:"\eb0b"; }
	.icomoon-users4:before { content:"\eb0c"; }
	.icomoon-user-tie:before { content:"\eb0d"; }
	.icomoon-user7:before { content:"\eb0e"; }
	.icomoon-users5:before { content:"\eb0f"; }
	.icomoon-collaboration:before { content:"\eb10"; }
	.icomoon-vcard:before { content:"\eb11"; }
	.icomoon-hat:before { content:"\eb12"; }
	.icomoon-bowtie:before { content:"\eb13"; }
	.icomoon-tie:before { content:"\eb14"; }
	.icomoon-hanger:before { content:"\eb15"; }
	.icomoon-tshirt:before { content:"\eb16"; }
	.icomoon-pants:before { content:"\eb17"; }
	.icomoon-shorts:before { content:"\eb18"; }
	.icomoon-sock:before { content:"\eb19"; }
	.icomoon-laundry:before { content:"\eb1a"; }
	.icomoon-quotes-left:before { content:"\eb1b"; }
	.icomoon-quotes-right:before { content:"\eb1c"; }
	.icomoon-quotes-left2:before { content:"\eb1d"; }
	.icomoon-quotes-right2:before { content:"\eb1e"; }
	.icomoon-hour-glass:before { content:"\eb1f"; }
	.icomoon-hour-glass2:before { content:"\eb20"; }
	.icomoon-hour-glass3:before { content:"\eb21"; }
	.icomoon-spinner:before { content:"\eb22"; }
	.icomoon-spinner2:before { content:"\eb23"; }
	.icomoon-spinner3:before { content:"\eb24"; }
	.icomoon-spinner4:before { content:"\eb25"; }
	.icomoon-spinner5:before { content:"\eb26"; }
	.icomoon-spinner6:before { content:"\eb27"; }
	.icomoon-spinner7:before { content:"\eb28"; }
	.icomoon-spinner8:before { content:"\eb29"; }
	.icomoon-spinner9:before { content:"\eb2a"; }
	.icomoon-spinner10:before { content:"\eb2b"; }
	.icomoon-spinner11:before { content:"\eb2c"; }
	.icomoon-microscope:before { content:"\eb2d"; }
	.icomoon-binoculars:before { content:"\eb2e"; }
	.icomoon-binoculars2:before { content:"\eb2f"; }
	.icomoon-search:before { content:"\eb30"; }
	.icomoon-zoom-in:before { content:"\eb31"; }
	.icomoon-zoom-out:before { content:"\eb32"; }
	.icomoon-search2:before { content:"\eb33"; }
	.icomoon-zoom-in2:before { content:"\eb34"; }
	.icomoon-zoom-out2:before { content:"\eb35"; }
	.icomoon-search3:before { content:"\eb36"; }
	.icomoon-search4:before { content:"\eb37"; }
	.icomoon-zoom-in3:before { content:"\eb38"; }
	.icomoon-zoom-out3:before { content:"\eb39"; }
	.icomoon-search5:before { content:"\eb3a"; }
	.icomoon-search6:before { content:"\eb3b"; }
	.icomoon-enlarge:before { content:"\eb3c"; }
	.icomoon-shrink:before { content:"\eb3d"; }
	.icomoon-enlarge2:before { content:"\eb3e"; }
	.icomoon-shrink2:before { content:"\eb3f"; }
	.icomoon-enlarge3:before { content:"\eb40"; }
	.icomoon-shrink3:before { content:"\eb41"; }
	.icomoon-enlarge4:before { content:"\eb42"; }
	.icomoon-shrink4:before { content:"\eb43"; }
	.icomoon-enlarge5:before { content:"\eb44"; }
	.icomoon-shrink5:before { content:"\eb45"; }
	.icomoon-enlarge6:before { content:"\eb46"; }
	.icomoon-shrink6:before { content:"\eb47"; }
	.icomoon-enlarge7:before { content:"\eb48"; }
	.icomoon-shrink7:before { content:"\eb49"; }
	.icomoon-key:before { content:"\eb4a"; }
	.icomoon-key2:before { content:"\eb4b"; }
	.icomoon-key3:before { content:"\eb4c"; }
	.icomoon-key4:before { content:"\eb4d"; }
	.icomoon-key5:before { content:"\eb4e"; }
	.icomoon-keyhole:before { content:"\eb4f"; }
	.icomoon-lock:before { content:"\eb50"; }
	.icomoon-lock2:before { content:"\eb51"; }
	.icomoon-lock3:before { content:"\eb52"; }
	.icomoon-lock4:before { content:"\eb53"; }
	.icomoon-unlocked:before { content:"\eb54"; }
	.icomoon-lock5:before { content:"\eb55"; }
	.icomoon-unlocked2:before { content:"\eb56"; }
	.icomoon-safe:before { content:"\eb57"; }
	.icomoon-wrench:before { content:"\eb58"; }
	.icomoon-wrench2:before { content:"\eb59"; }
	.icomoon-wrench3:before { content:"\eb5a"; }
	.icomoon-equalizer:before { content:"\eb5b"; }
	.icomoon-equalizer2:before { content:"\eb5c"; }
	.icomoon-equalizer3:before { content:"\eb5d"; }
	.icomoon-equalizer4:before { content:"\eb5e"; }
	.icomoon-cog:before { content:"\eb5f"; }
	.icomoon-cogs:before { content:"\eb60"; }
	.icomoon-cog2:before { content:"\eb61"; }
	.icomoon-cog3:before { content:"\eb62"; }
	.icomoon-cog4:before { content:"\eb63"; }
	.icomoon-cog5:before { content:"\eb64"; }
	.icomoon-cog6:before { content:"\eb65"; }
	.icomoon-cog7:before { content:"\eb66"; }
	.icomoon-factory:before { content:"\eb67"; }
	.icomoon-hammer:before { content:"\eb68"; }
	.icomoon-hammer-wrench:before { content:"\eb69"; }
	.icomoon-knife:before { content:"\eb6a"; }
	.icomoon-screwdriver:before { content:"\eb6b"; }
	.icomoon-screwdriver2:before { content:"\eb6c"; }
	.icomoon-magic-wand:before { content:"\eb6d"; }
	.icomoon-magic-wand2:before { content:"\eb6e"; }
	.icomoon-pulse:before { content:"\eb6f"; }
	.icomoon-pulse2:before { content:"\eb70"; }
	.icomoon-aid-kit:before { content:"\eb71"; }
	.icomoon-aid-kit2:before { content:"\eb72"; }
	.icomoon-stethoscope:before { content:"\eb73"; }
	.icomoon-ambulance:before { content:"\eb74"; }
	.icomoon-alarm2:before { content:"\eb75"; }
	.icomoon-pandage:before { content:"\eb76"; }
	.icomoon-pandage2:before { content:"\eb77"; }
	.icomoon-bug:before { content:"\eb78"; }
	.icomoon-bug2:before { content:"\eb79"; }
	.icomoon-syringe:before { content:"\eb7a"; }
	.icomoon-syringe2:before { content:"\eb7b"; }
	.icomoon-pill:before { content:"\eb7c"; }
	.icomoon-construction:before { content:"\eb7d"; }
	.icomoon-traffic-cone:before { content:"\eb7e"; }
	.icomoon-traffic-lights:before { content:"\eb7f"; }
	.icomoon-pie-chart:before { content:"\eb80"; }
	.icomoon-pie-chart2:before { content:"\eb81"; }
	.icomoon-pie-chart3:before { content:"\eb82"; }
	.icomoon-pie-chart4:before { content:"\eb83"; }
	.icomoon-pie-chart5:before { content:"\eb84"; }
	.icomoon-pie-chart6:before { content:"\eb85"; }
	.icomoon-pie-chart7:before { content:"\eb86"; }
	.icomoon-stats-dots:before { content:"\eb87"; }
	.icomoon-stats-bars:before { content:"\eb88"; }
	.icomoon-pie-chart8:before { content:"\eb89"; }
	.icomoon-stats-bars2:before { content:"\eb8a"; }
	.icomoon-stats-bars3:before { content:"\eb8b"; }
	.icomoon-stats-bars4:before { content:"\eb8c"; }
	.icomoon-stats-bars5:before { content:"\eb8d"; }
	.icomoon-stats-bars6:before { content:"\eb8e"; }
	.icomoon-chart:before { content:"\eb8f"; }
	.icomoon-stats-growth:before { content:"\eb90"; }
	.icomoon-stats-decline:before { content:"\eb91"; }
	.icomoon-stats-growth2:before { content:"\eb92"; }
	.icomoon-stats-decline2:before { content:"\eb93"; }
	.icomoon-stairs-up:before { content:"\eb94"; }
	.icomoon-stairs-down:before { content:"\eb95"; }
	.icomoon-stairs:before { content:"\eb96"; }
	.icomoon-stairs2:before { content:"\eb97"; }
	.icomoon-ladder:before { content:"\eb98"; }
	.icomoon-rating:before { content:"\eb99"; }
	.icomoon-rating2:before { content:"\eb9a"; }
	.icomoon-rating3:before { content:"\eb9b"; }
	.icomoon-cake:before { content:"\eb9c"; }
	.icomoon-podium:before { content:"\eb9d"; }
	.icomoon-stars:before { content:"\eb9e"; }
	.icomoon-medal-star:before { content:"\eb9f"; }
	.icomoon-medal:before { content:"\eba0"; }
	.icomoon-medal2:before { content:"\eba1"; }
	.icomoon-medal-first:before { content:"\eba2"; }
	.icomoon-medal-second:before { content:"\eba3"; }
	.icomoon-medal-third:before { content:"\eba4"; }
	.icomoon-crown:before { content:"\eba5"; }
	.icomoon-trophy:before { content:"\eba6"; }
	.icomoon-trophy2:before { content:"\eba7"; }
	.icomoon-trophy3:before { content:"\eba8"; }
	.icomoon-diamond:before { content:"\eba9"; }
	.icomoon-diamond2:before { content:"\ebaa"; }
	.icomoon-trophy4:before { content:"\ebab"; }
	.icomoon-gift:before { content:"\ebac"; }
	.icomoon-gift2:before { content:"\ebad"; }
	.icomoon-balloon:before { content:"\ebae"; }
	.icomoon-pipe:before { content:"\ebaf"; }
	.icomoon-mustache:before { content:"\ebb0"; }
	.icomoon-mustache2:before { content:"\ebb1"; }
	.icomoon-glass:before { content:"\ebb2"; }
	.icomoon-glass2:before { content:"\ebb3"; }
	.icomoon-glass3:before { content:"\ebb4"; }
	.icomoon-glass4:before { content:"\ebb5"; }
	.icomoon-bottle:before { content:"\ebb6"; }
	.icomoon-bottle2:before { content:"\ebb7"; }
	.icomoon-bottle3:before { content:"\ebb8"; }
	.icomoon-bottle4:before { content:"\ebb9"; }
	.icomoon-mug:before { content:"\ebba"; }
	.icomoon-fork-knife:before { content:"\ebbb"; }
	.icomoon-spoon-knife:before { content:"\ebbc"; }
	.icomoon-cook:before { content:"\ebbd"; }
	.icomoon-plate:before { content:"\ebbe"; }
	.icomoon-steak:before { content:"\ebbf"; }
	.icomoon-fish:before { content:"\ebc0"; }
	.icomoon-chicken:before { content:"\ebc1"; }
	.icomoon-hamburger:before { content:"\ebc2"; }
	.icomoon-pizza:before { content:"\ebc3"; }
	.icomoon-cheese:before { content:"\ebc4"; }
	.icomoon-bread:before { content:"\ebc5"; }
	.icomoon-icecream:before { content:"\ebc6"; }
	.icomoon-milk:before { content:"\ebc7"; }
	.icomoon-cup:before { content:"\ebc8"; }
	.icomoon-cup2:before { content:"\ebc9"; }
	.icomoon-coffee-bean:before { content:"\ebca"; }
	.icomoon-coffee:before { content:"\ebcb"; }
	.icomoon-teapot:before { content:"\ebcc"; }
	.icomoon-leaf:before { content:"\ebcd"; }
	.icomoon-leaf2:before { content:"\ebce"; }
	.icomoon-apple:before { content:"\ebcf"; }
	.icomoon-grapes:before { content:"\ebd0"; }
	.icomoon-cherry:before { content:"\ebd1"; }
	.icomoon-tree:before { content:"\ebd2"; }
	.icomoon-tree2:before { content:"\ebd3"; }
	.icomoon-tree3:before { content:"\ebd4"; }
	.icomoon-tree4:before { content:"\ebd5"; }
	.icomoon-cactus:before { content:"\ebd6"; }
	.icomoon-mountains:before { content:"\ebd7"; }
	.icomoon-paw:before { content:"\ebd8"; }
	.icomoon-footprint:before { content:"\ebd9"; }
	.icomoon-tent:before { content:"\ebda"; }
	.icomoon-flower:before { content:"\ebdb"; }
	.icomoon-flower2:before { content:"\ebdc"; }
	.icomoon-rocket:before { content:"\ebdd"; }
	.icomoon-meter:before { content:"\ebde"; }
	.icomoon-meter2:before { content:"\ebdf"; }
	.icomoon-meter-slow:before { content:"\ebe0"; }
	.icomoon-meter-medium:before { content:"\ebe1"; }
	.icomoon-meter-fast:before { content:"\ebe2"; }
	.icomoon-meter3:before { content:"\ebe3"; }
	.icomoon-hammer2:before { content:"\ebe4"; }
	.icomoon-balance:before { content:"\ebe5"; }
	.icomoon-scale:before { content:"\ebe6"; }
	.icomoon-bomb:before { content:"\ebe7"; }
	.icomoon-fire:before { content:"\ebe8"; }
	.icomoon-fire2:before { content:"\ebe9"; }
	.icomoon-lab:before { content:"\ebea"; }
	.icomoon-atom:before { content:"\ebeb"; }
	.icomoon-atom2:before { content:"\ebec"; }
	.icomoon-magnet:before { content:"\ebed"; }
	.icomoon-magnet2:before { content:"\ebee"; }
	.icomoon-dumbbell:before { content:"\ebef"; }
	.icomoon-skull:before { content:"\ebf0"; }
	.icomoon-skull2:before { content:"\ebf1"; }
	.icomoon-lamp:before { content:"\ebf2"; }
	.icomoon-lamp2:before { content:"\ebf3"; }
	.icomoon-lamp3:before { content:"\ebf4"; }
	.icomoon-spotlight:before { content:"\ebf5"; }
	.icomoon-lamp4:before { content:"\ebf6"; }
	.icomoon-lamp5:before { content:"\ebf7"; }
	.icomoon-lamp6:before { content:"\ebf8"; }
	.icomoon-lamp7:before { content:"\ebf9"; }
	.icomoon-lamp8:before { content:"\ebfa"; }
	.icomoon-broom:before { content:"\ebfb"; }
	.icomoon-toiletpaper:before { content:"\ebfc"; }
	.icomoon-bin:before { content:"\ebfd"; }
	.icomoon-bin2:before { content:"\ebfe"; }
	.icomoon-bin3:before { content:"\ebff"; }
	.icomoon-bin4:before { content:"\ec00"; }
	.icomoon-bin5:before { content:"\ec01"; }
	.icomoon-briefcase:before { content:"\ec02"; }
	.icomoon-briefcase2:before { content:"\ec03"; }
	.icomoon-briefcase3:before { content:"\ec04"; }
	.icomoon-airplane:before { content:"\ec05"; }
	.icomoon-airplane2:before { content:"\ec06"; }
	.icomoon-airplane3:before { content:"\ec07"; }
	.icomoon-airplane4:before { content:"\ec08"; }
	.icomoon-paperplane:before { content:"\ec09"; }
	.icomoon-car:before { content:"\ec0a"; }
	.icomoon-steering-wheel:before { content:"\ec0b"; }
	.icomoon-car2:before { content:"\ec0c"; }
	.icomoon-gas:before { content:"\ec0d"; }
	.icomoon-bus:before { content:"\ec0e"; }
	.icomoon-truck:before { content:"\ec0f"; }
	.icomoon-bike:before { content:"\ec10"; }
	.icomoon-road:before { content:"\ec11"; }
	.icomoon-train:before { content:"\ec12"; }
	.icomoon-train2:before { content:"\ec13"; }
	.icomoon-ship:before { content:"\ec14"; }
	.icomoon-boat:before { content:"\ec15"; }
	.icomoon-chopper:before { content:"\ec16"; }
	.icomoon-chopper2:before { content:"\ec17"; }
	.icomoon-cube:before { content:"\ec18"; }
	.icomoon-cube2:before { content:"\ec19"; }
	.icomoon-cube3:before { content:"\ec1a"; }
	.icomoon-cube4:before { content:"\ec1b"; }
	.icomoon-pyramid:before { content:"\ec1c"; }
	.icomoon-pyramid2:before { content:"\ec1d"; }
	.icomoon-package:before { content:"\ec1e"; }
	.icomoon-puzzle:before { content:"\ec1f"; }
	.icomoon-puzzle2:before { content:"\ec20"; }
	.icomoon-puzzle3:before { content:"\ec21"; }
	.icomoon-puzzle4:before { content:"\ec22"; }
	.icomoon-glasses-3d:before { content:"\ec23"; }
	.icomoon-glasses-3d2:before { content:"\ec24"; }
	.icomoon-glasses:before { content:"\ec25"; }
	.icomoon-glasses2:before { content:"\ec26"; }
	.icomoon-brain:before { content:"\ec27"; }
	.icomoon-accessibility:before { content:"\ec28"; }
	.icomoon-accessibility2:before { content:"\ec29"; }
	.icomoon-strategy:before { content:"\ec2a"; }
	.icomoon-target:before { content:"\ec2b"; }
	.icomoon-target2:before { content:"\ec2c"; }
	.icomoon-target3:before { content:"\ec2d"; }
	.icomoon-ammo:before { content:"\ec2e"; }
	.icomoon-gun:before { content:"\ec2f"; }
	.icomoon-gun-forbidden:before { content:"\ec30"; }
	.icomoon-shield:before { content:"\ec31"; }
	.icomoon-shield-check:before { content:"\ec32"; }
	.icomoon-shield-notice:before { content:"\ec33"; }
	.icomoon-shield2:before { content:"\ec34"; }
	.icomoon-shield3:before { content:"\ec35"; }
	.icomoon-shield4:before { content:"\ec36"; }
	.icomoon-soccer:before { content:"\ec37"; }
	.icomoon-football:before { content:"\ec38"; }
	.icomoon-archery:before { content:"\ec39"; }
	.icomoon-bow:before { content:"\ec3a"; }
	.icomoon-sword:before { content:"\ec3b"; }
	.icomoon-tennis:before { content:"\ec3c"; }
	.icomoon-pingpong:before { content:"\ec3d"; }
	.icomoon-baseball:before { content:"\ec3e"; }
	.icomoon-basketball:before { content:"\ec3f"; }
	.icomoon-golf:before { content:"\ec40"; }
	.icomoon-golf2:before { content:"\ec41"; }
	.icomoon-hockey:before { content:"\ec42"; }
	.icomoon-racing:before { content:"\ec43"; }
	.icomoon-finish:before { content:"\ec44"; }
	.icomoon-eight-ball:before { content:"\ec45"; }
	.icomoon-bowling:before { content:"\ec46"; }
	.icomoon-bowling2:before { content:"\ec47"; }
	.icomoon-power:before { content:"\ec48"; }
	.icomoon-power2:before { content:"\ec49"; }
	.icomoon-power3:before { content:"\ec4a"; }
	.icomoon-switch:before { content:"\ec4b"; }
	.icomoon-switch2:before { content:"\ec4c"; }
	.icomoon-power-cord:before { content:"\ec4d"; }
	.icomoon-power-cord2:before { content:"\ec4e"; }
	.icomoon-outlet:before { content:"\ec4f"; }
	.icomoon-clipboard:before { content:"\ec50"; }
	.icomoon-clipboard2:before { content:"\ec51"; }
	.icomoon-clipboard3:before { content:"\ec52"; }
	.icomoon-clipboard4:before { content:"\ec53"; }
	.icomoon-clipboard5:before { content:"\ec54"; }
	.icomoon-clipboard6:before { content:"\ec55"; }
	.icomoon-playlist:before { content:"\ec56"; }
	.icomoon-playlist-add:before { content:"\ec57"; }
	.icomoon-list-numbered:before { content:"\ec58"; }
	.icomoon-list:before { content:"\ec59"; }
	.icomoon-list2:before { content:"\ec5a"; }
	.icomoon-more:before { content:"\ec5b"; }
	.icomoon-more2:before { content:"\ec5c"; }
	.icomoon-grid:before { content:"\ec5d"; }
	.icomoon-grid2:before { content:"\ec5e"; }
	.icomoon-grid3:before { content:"\ec5f"; }
	.icomoon-grid4:before { content:"\ec60"; }
	.icomoon-grid5:before { content:"\ec61"; }
	.icomoon-grid6:before { content:"\ec62"; }
	.icomoon-grid7:before { content:"\ec63"; }
	.icomoon-tree5:before { content:"\ec64"; }
	.icomoon-tree6:before { content:"\ec65"; }
	.icomoon-tree7:before { content:"\ec66"; }
	.icomoon-lan:before { content:"\ec67"; }
	.icomoon-lan2:before { content:"\ec68"; }
	.icomoon-lan3:before { content:"\ec69"; }
	.icomoon-menu:before { content:"\ec6a"; }
	.icomoon-circle-small:before { content:"\ec6b"; }
	.icomoon-menu2:before { content:"\ec6c"; }
	.icomoon-menu3:before { content:"\ec6d"; }
	.icomoon-menu4:before { content:"\ec6e"; }
	.icomoon-menu5:before { content:"\ec6f"; }
	.icomoon-menu6:before { content:"\ec70"; }
	.icomoon-menu7:before { content:"\ec71"; }
	.icomoon-menu8:before { content:"\ec72"; }
	.icomoon-menu9:before { content:"\ec73"; }
	.icomoon-menu10:before { content:"\ec74"; }
	.icomoon-cloud:before { content:"\ec75"; }
	.icomoon-cloud-download:before { content:"\ec76"; }
	.icomoon-cloud-upload:before { content:"\ec77"; }
	.icomoon-cloud-check:before { content:"\ec78"; }
	.icomoon-cloud2:before { content:"\ec79"; }
	.icomoon-cloud-download2:before { content:"\ec7a"; }
	.icomoon-cloud-upload2:before { content:"\ec7b"; }
	.icomoon-cloud-check2:before { content:"\ec7c"; }
	.icomoon-download2:before { content:"\ec7d"; }
	.icomoon-download3:before { content:"\ec7e"; }
	.icomoon-upload2:before { content:"\ec7f"; }
	.icomoon-upload3:before { content:"\ec80"; }
	.icomoon-import:before { content:"\ec81"; }
	.icomoon-import2:before { content:"\ec82"; }
	.icomoon-download4:before { content:"\ec83"; }
	.icomoon-upload4:before { content:"\ec84"; }
	.icomoon-download5:before { content:"\ec85"; }
	.icomoon-upload5:before { content:"\ec86"; }
	.icomoon-download6:before { content:"\ec87"; }
	.icomoon-upload6:before { content:"\ec88"; }
	.icomoon-download7:before { content:"\ec89"; }
	.icomoon-upload7:before { content:"\ec8a"; }
	.icomoon-download8:before { content:"\ec8b"; }
	.icomoon-upload8:before { content:"\ec8c"; }
	.icomoon-download9:before { content:"\ec8d"; }
	.icomoon-upload9:before { content:"\ec8e"; }
	.icomoon-download10:before { content:"\ec8f"; }
	.icomoon-upload10:before { content:"\ec90"; }
	.icomoon-sphere:before { content:"\ec91"; }
	.icomoon-sphere2:before { content:"\ec92"; }
	.icomoon-sphere3:before { content:"\ec93"; }
	.icomoon-planet:before { content:"\ec94"; }
	.icomoon-planet2:before { content:"\ec95"; }
	.icomoon-earth:before { content:"\ec96"; }
	.icomoon-earth2:before { content:"\ec97"; }
	.icomoon-earth3:before { content:"\ec98"; }
	.icomoon-link:before { content:"\ec99"; }
	.icomoon-unlink:before { content:"\ec9a"; }
	.icomoon-link2:before { content:"\ec9b"; }
	.icomoon-unlink2:before { content:"\ec9c"; }
	.icomoon-link3:before { content:"\ec9d"; }
	.icomoon-unlink3:before { content:"\ec9e"; }
	.icomoon-link4:before { content:"\ec9f"; }
	.icomoon-unlink4:before { content:"\eca0"; }
	.icomoon-link5:before { content:"\eca1"; }
	.icomoon-unlink5:before { content:"\eca2"; }
	.icomoon-anchor:before { content:"\eca3"; }
	.icomoon-flag:before { content:"\eca4"; }
	.icomoon-flag2:before { content:"\eca5"; }
	.icomoon-flag3:before { content:"\eca6"; }
	.icomoon-flag4:before { content:"\eca7"; }
	.icomoon-flag5:before { content:"\eca8"; }
	.icomoon-flag6:before { content:"\eca9"; }
	.icomoon-flag7:before { content:"\ecaa"; }
	.icomoon-flag8:before { content:"\ecab"; }
	.icomoon-attachment:before { content:"\ecac"; }
	.icomoon-attachment2:before { content:"\ecad"; }
	.icomoon-eye:before { content:"\ecae"; }
	.icomoon-eye-plus:before { content:"\ecaf"; }
	.icomoon-eye-minus:before { content:"\ecb0"; }
	.icomoon-eye-blocked:before { content:"\ecb1"; }
	.icomoon-eye2:before { content:"\ecb2"; }
	.icomoon-eye-blocked2:before { content:"\ecb3"; }
	.icomoon-eye3:before { content:"\ecb4"; }
	.icomoon-eye-blocked3:before { content:"\ecb5"; }
	.icomoon-eye4:before { content:"\ecb6"; }
	.icomoon-bookmark2:before { content:"\ecb7"; }
	.icomoon-bookmark3:before { content:"\ecb8"; }
	.icomoon-bookmarks:before { content:"\ecb9"; }
	.icomoon-bookmark4:before { content:"\ecba"; }
	.icomoon-spotlight2:before { content:"\ecbb"; }
	.icomoon-starburst:before { content:"\ecbc"; }
	.icomoon-snowflake:before { content:"\ecbd"; }
	.icomoon-temperature:before { content:"\ecbe"; }
	.icomoon-temperature2:before { content:"\ecbf"; }
	.icomoon-weather-lightning:before { content:"\ecc0"; }
	.icomoon-weather-lightning2:before { content:"\ecc1"; }
	.icomoon-weather-rain:before { content:"\ecc2"; }
	.icomoon-weather-rain2:before { content:"\ecc3"; }
	.icomoon-weather-snow:before { content:"\ecc4"; }
	.icomoon-weather-snow2:before { content:"\ecc5"; }
	.icomoon-weather-cloud-wind:before { content:"\ecc6"; }
	.icomoon-weather-cloud-wind2:before { content:"\ecc7"; }
	.icomoon-weather-cloud-sun:before { content:"\ecc8"; }
	.icomoon-weather-cloud-sun2:before { content:"\ecc9"; }
	.icomoon-weather-cloudy:before { content:"\ecca"; }
	.icomoon-weather-cloudy2:before { content:"\eccb"; }
	.icomoon-weather-sun-wind:before { content:"\eccc"; }
	.icomoon-weather-sun-wind2:before { content:"\eccd"; }
	.icomoon-sun:before { content:"\ecce"; }
	.icomoon-sun2:before { content:"\eccf"; }
	.icomoon-moon:before { content:"\ecd0"; }
	.icomoon-day-night:before { content:"\ecd1"; }
	.icomoon-day-night2:before { content:"\ecd2"; }
	.icomoon-weather-windy:before { content:"\ecd3"; }
	.icomoon-fan:before { content:"\ecd4"; }
	.icomoon-umbrella:before { content:"\ecd5"; }
	.icomoon-sun3:before { content:"\ecd6"; }
	.icomoon-contrast:before { content:"\ecd7"; }
	.icomoon-brightness-contrast:before { content:"\ecd8"; }
	.icomoon-brightness-high:before { content:"\ecd9"; }
	.icomoon-brightness-medium:before { content:"\ecda"; }
	.icomoon-brightness-low:before { content:"\ecdb"; }
	.icomoon-bed:before { content:"\ecdc"; }
	.icomoon-bed2:before { content:"\ecdd"; }
	.icomoon-furniture:before { content:"\ecde"; }
	.icomoon-chair:before { content:"\ecdf"; }
	.icomoon-star-empty:before { content:"\ece0"; }
	.icomoon-star-empty2:before { content:"\ece1"; }
	.icomoon-star-full:before { content:"\ece2"; }
	.icomoon-star-empty3:before { content:"\ece3"; }
	.icomoon-star-half:before { content:"\ece4"; }
	.icomoon-star-full2:before { content:"\ece5"; }
	.icomoon-star:before { content:"\ece6"; }
	.icomoon-heart:before { content:"\ece7"; }
	.icomoon-heart2:before { content:"\ece8"; }
	.icomoon-heart3:before { content:"\ece9"; }
	.icomoon-heart4:before { content:"\ecea"; }
	.icomoon-heart-broken:before { content:"\eceb"; }
	.icomoon-heart5:before { content:"\ecec"; }
	.icomoon-heart6:before { content:"\eced"; }
	.icomoon-heart-broken2:before { content:"\ecee"; }
	.icomoon-heart7:before { content:"\ecef"; }
	.icomoon-heart8:before { content:"\ecf0"; }
	.icomoon-heart-broken3:before { content:"\ecf1"; }
	.icomoon-lips:before { content:"\ecf2"; }
	.icomoon-lips2:before { content:"\ecf3"; }
	.icomoon-thumbs-up:before { content:"\ecf4"; }
	.icomoon-thumbs-up2:before { content:"\ecf5"; }
	.icomoon-thumbs-down:before { content:"\ecf6"; }
	.icomoon-thumbs-down2:before { content:"\ecf7"; }
	.icomoon-thumbs-up3:before { content:"\ecf8"; }
	.icomoon-thumbs-down3:before { content:"\ecf9"; }
	.icomoon-height:before { content:"\ecfa"; }
	.icomoon-man:before { content:"\ecfb"; }
	.icomoon-woman:before { content:"\ecfc"; }
	.icomoon-man-woman:before { content:"\ecfd"; }
	.icomoon-male:before { content:"\ecfe"; }
	.icomoon-female:before { content:"\ecff"; }
	.icomoon-peace:before { content:"\ed00"; }
	.icomoon-yin-yang:before { content:"\ed01"; }
	.icomoon-happy:before { content:"\ed02"; }
	.icomoon-happy2:before { content:"\ed03"; }
	.icomoon-smile:before { content:"\ed04"; }
	.icomoon-smile2:before { content:"\ed05"; }
	.icomoon-tongue:before { content:"\ed06"; }
	.icomoon-tongue2:before { content:"\ed07"; }
	.icomoon-sad:before { content:"\ed08"; }
	.icomoon-sad2:before { content:"\ed09"; }
	.icomoon-wink:before { content:"\ed0a"; }
	.icomoon-wink2:before { content:"\ed0b"; }
	.icomoon-grin:before { content:"\ed0c"; }
	.icomoon-grin2:before { content:"\ed0d"; }
	.icomoon-cool:before { content:"\ed0e"; }
	.icomoon-cool2:before { content:"\ed0f"; }
	.icomoon-angry:before { content:"\ed10"; }
	.icomoon-angry2:before { content:"\ed11"; }
	.icomoon-evil:before { content:"\ed12"; }
	.icomoon-evil2:before { content:"\ed13"; }
	.icomoon-shocked:before { content:"\ed14"; }
	.icomoon-shocked2:before { content:"\ed15"; }
	.icomoon-baffled:before { content:"\ed16"; }
	.icomoon-baffled2:before { content:"\ed17"; }
	.icomoon-confused:before { content:"\ed18"; }
	.icomoon-confused2:before { content:"\ed19"; }
	.icomoon-neutral:before { content:"\ed1a"; }
	.icomoon-neutral2:before { content:"\ed1b"; }
	.icomoon-hipster:before { content:"\ed1c"; }
	.icomoon-hipster2:before { content:"\ed1d"; }
	.icomoon-wondering:before { content:"\ed1e"; }
	.icomoon-wondering2:before { content:"\ed1f"; }
	.icomoon-sleepy:before { content:"\ed20"; }
	.icomoon-sleepy2:before { content:"\ed21"; }
	.icomoon-frustrated:before { content:"\ed22"; }
	.icomoon-frustrated2:before { content:"\ed23"; }
	.icomoon-crying:before { content:"\ed24"; }
	.icomoon-crying2:before { content:"\ed25"; }
	.icomoon-cursor:before { content:"\ed26"; }
	.icomoon-cursor2:before { content:"\ed27"; }
	.icomoon-lasso:before { content:"\ed28"; }
	.icomoon-lasso2:before { content:"\ed29"; }
	.icomoon-select:before { content:"\ed2a"; }
	.icomoon-select2:before { content:"\ed2b"; }
	.icomoon-point-up:before { content:"\ed2c"; }
	.icomoon-point-right:before { content:"\ed2d"; }
	.icomoon-point-down:before { content:"\ed2e"; }
	.icomoon-point-left:before { content:"\ed2f"; }
	.icomoon-pointer:before { content:"\ed30"; }
	.icomoon-reminder:before { content:"\ed31"; }
	.icomoon-drag-left-right:before { content:"\ed32"; }
	.icomoon-drag-left:before { content:"\ed33"; }
	.icomoon-drag-right:before { content:"\ed34"; }
	.icomoon-touch:before { content:"\ed35"; }
	.icomoon-multitouch:before { content:"\ed36"; }
	.icomoon-touch-zoom:before { content:"\ed37"; }
	.icomoon-touch-pinch:before { content:"\ed38"; }
	.icomoon-hand:before { content:"\ed39"; }
	.icomoon-grab:before { content:"\ed3a"; }
	.icomoon-stack-empty:before { content:"\ed3b"; }
	.icomoon-stack-plus:before { content:"\ed3c"; }
	.icomoon-stack-minus:before { content:"\ed3d"; }
	.icomoon-stack-star:before { content:"\ed3e"; }
	.icomoon-stack-picture:before { content:"\ed3f"; }
	.icomoon-stack-down:before { content:"\ed40"; }
	.icomoon-stack-up:before { content:"\ed41"; }
	.icomoon-stack-cancel:before { content:"\ed42"; }
	.icomoon-stack-check:before { content:"\ed43"; }
	.icomoon-stack-text:before { content:"\ed44"; }
	.icomoon-stack-clubs:before { content:"\ed45"; }
	.icomoon-stack-spades:before { content:"\ed46"; }
	.icomoon-stack-hearts:before { content:"\ed47"; }
	.icomoon-stack-diamonds:before { content:"\ed48"; }
	.icomoon-stack-user:before { content:"\ed49"; }
	.icomoon-stack4:before { content:"\ed4a"; }
	.icomoon-stack-music:before { content:"\ed4b"; }
	.icomoon-stack-play:before { content:"\ed4c"; }
	.icomoon-move:before { content:"\ed4d"; }
	.icomoon-dots:before { content:"\ed4e"; }
	.icomoon-warning:before { content:"\ed4f"; }
	.icomoon-warning2:before { content:"\ed50"; }
	.icomoon-notification:before { content:"\ed51"; }
	.icomoon-notification2:before { content:"\ed52"; }
	.icomoon-question:before { content:"\ed53"; }
	.icomoon-question2:before { content:"\ed54"; }
	.icomoon-question3:before { content:"\ed55"; }
	.icomoon-question4:before { content:"\ed56"; }
	.icomoon-question5:before { content:"\ed57"; }
	.icomoon-question6:before { content:"\ed58"; }
	.icomoon-plus:before { content:"\ed59"; }
	.icomoon-minus:before { content:"\ed5a"; }
	.icomoon-plus2:before { content:"\ed5b"; }
	.icomoon-minus2:before { content:"\ed5c"; }
	.icomoon-plus3:before { content:"\ed5d"; }
	.icomoon-minus3:before { content:"\ed5e"; }
	.icomoon-plus-circle:before { content:"\ed5f"; }
	.icomoon-minus-circle:before { content:"\ed60"; }
	.icomoon-plus-circle2:before { content:"\ed61"; }
	.icomoon-minus-circle2:before { content:"\ed62"; }
	.icomoon-info:before { content:"\ed63"; }
	.icomoon-info2:before { content:"\ed64"; }
	.icomoon-cancel-circle:before { content:"\ed65"; }
	.icomoon-cancel-circle2:before { content:"\ed66"; }
	.icomoon-blocked:before { content:"\ed67"; }
	.icomoon-cancel-square:before { content:"\ed68"; }
	.icomoon-cancel-square2:before { content:"\ed69"; }
	.icomoon-cancel:before { content:"\ed6a"; }
	.icomoon-spam:before { content:"\ed6b"; }
	.icomoon-cross:before { content:"\ed6c"; }
	.icomoon-cross2:before { content:"\ed6d"; }
	.icomoon-cross3:before { content:"\ed6e"; }
	.icomoon-checkmark:before { content:"\ed6f"; }
	.icomoon-checkmark2:before { content:"\ed70"; }
	.icomoon-checkmark3:before { content:"\ed71"; }
	.icomoon-checkmark4:before { content:"\ed72"; }
	.icomoon-checkmark5:before { content:"\ed73"; }
	.icomoon-spell-check:before { content:"\ed74"; }
	.icomoon-spell-check2:before { content:"\ed75"; }
	.icomoon-enter:before { content:"\ed76"; }
	.icomoon-exit:before { content:"\ed77"; }
	.icomoon-enter2:before { content:"\ed78"; }
	.icomoon-exit2:before { content:"\ed79"; }
	.icomoon-enter3:before { content:"\ed7a"; }
	.icomoon-exit3:before { content:"\ed7b"; }
	.icomoon-wall:before { content:"\ed7c"; }
	.icomoon-fence:before { content:"\ed7d"; }
	.icomoon-play3:before { content:"\ed7e"; }
	.icomoon-pause:before { content:"\ed7f"; }
	.icomoon-stop:before { content:"\ed80"; }
	.icomoon-previous:before { content:"\ed81"; }
	.icomoon-next:before { content:"\ed82"; }
	.icomoon-backward:before { content:"\ed83"; }
	.icomoon-forward2:before { content:"\ed84"; }
	.icomoon-play4:before { content:"\ed85"; }
	.icomoon-pause2:before { content:"\ed86"; }
	.icomoon-stop2:before { content:"\ed87"; }
	.icomoon-backward2:before { content:"\ed88"; }
	.icomoon-forward3:before { content:"\ed89"; }
	.icomoon-first:before { content:"\ed8a"; }
	.icomoon-last:before { content:"\ed8b"; }
	.icomoon-previous2:before { content:"\ed8c"; }
	.icomoon-next2:before { content:"\ed8d"; }
	.icomoon-eject:before { content:"\ed8e"; }
	.icomoon-volume-high:before { content:"\ed8f"; }
	.icomoon-volume-medium:before { content:"\ed90"; }
	.icomoon-volume-low:before { content:"\ed91"; }
	.icomoon-volume-mute:before { content:"\ed92"; }
	.icomoon-speaker-left:before { content:"\ed93"; }
	.icomoon-speaker-right:before { content:"\ed94"; }
	.icomoon-volume-mute2:before { content:"\ed95"; }
	.icomoon-volume-increase:before { content:"\ed96"; }
	.icomoon-volume-decrease:before { content:"\ed97"; }
	.icomoon-volume-high2:before { content:"\ed98"; }
	.icomoon-volume-medium2:before { content:"\ed99"; }
	.icomoon-volume-medium3:before { content:"\ed9a"; }
	.icomoon-volume-low2:before { content:"\ed9b"; }
	.icomoon-volume-mute3:before { content:"\ed9c"; }
	.icomoon-volume-increase2:before { content:"\ed9d"; }
	.icomoon-volume-decrease2:before { content:"\ed9e"; }
	.icomoon-volume-decrease3:before { content:"\ed9f"; }
	.icomoon-volume-5:before { content:"\eda0"; }
	.icomoon-volume-4:before { content:"\eda1"; }
	.icomoon-volume-3:before { content:"\eda2"; }
	.icomoon-volume-2:before { content:"\eda3"; }
	.icomoon-volume-1:before { content:"\eda4"; }
	.icomoon-volume-0:before { content:"\eda5"; }
	.icomoon-volume-mute4:before { content:"\eda6"; }
	.icomoon-volume-mute5:before { content:"\eda7"; }
	.icomoon-loop:before { content:"\eda8"; }
	.icomoon-loop2:before { content:"\eda9"; }
	.icomoon-loop3:before { content:"\edaa"; }
	.icomoon-infinite-square:before { content:"\edab"; }
	.icomoon-infinite:before { content:"\edac"; }
	.icomoon-infinite2:before { content:"\edad"; }
	.icomoon-loop4:before { content:"\edae"; }
	.icomoon-shuffle:before { content:"\edaf"; }
	.icomoon-shuffle2:before { content:"\edb0"; }
	.icomoon-wave:before { content:"\edb1"; }
	.icomoon-wave2:before { content:"\edb2"; }
	.icomoon-split:before { content:"\edb3"; }
	.icomoon-merge:before { content:"\edb4"; }
	.icomoon-first2:before { content:"\edb5"; }
	.icomoon-last2:before { content:"\edb6"; }
	.icomoon-arrow-up:before { content:"\edb7"; }
	.icomoon-arrow-up2:before { content:"\edb8"; }
	.icomoon-arrow-up3:before { content:"\edb9"; }
	.icomoon-arrow-up4:before { content:"\edba"; }
	.icomoon-arrow-right:before { content:"\edbb"; }
	.icomoon-arrow-right2:before { content:"\edbc"; }
	.icomoon-arrow-right3:before { content:"\edbd"; }
	.icomoon-arrow-right4:before { content:"\edbe"; }
	.icomoon-arrow-down:before { content:"\edbf"; }
	.icomoon-arrow-down2:before { content:"\edc0"; }
	.icomoon-arrow-down3:before { content:"\edc1"; }
	.icomoon-arrow-down4:before { content:"\edc2"; }
	.icomoon-arrow-left:before { content:"\edc3"; }
	.icomoon-arrow-left2:before { content:"\edc4"; }
	.icomoon-arrow-left3:before { content:"\edc5"; }
	.icomoon-arrow-left4:before { content:"\edc6"; }
	.icomoon-arrow-up5:before { content:"\edc7"; }
	.icomoon-arrow-right5:before { content:"\edc8"; }
	.icomoon-arrow-down5:before { content:"\edc9"; }
	.icomoon-arrow-left5:before { content:"\edca"; }
	.icomoon-arrow-up-left:before { content:"\edcb"; }
	.icomoon-arrow-up6:before { content:"\edcc"; }
	.icomoon-arrow-up-right:before { content:"\edcd"; }
	.icomoon-arrow-right6:before { content:"\edce"; }
	.icomoon-arrow-down-right:before { content:"\edcf"; }
	.icomoon-arrow-down6:before { content:"\edd0"; }
	.icomoon-arrow-down-left:before { content:"\edd1"; }
	.icomoon-arrow-left6:before { content:"\edd2"; }
	.icomoon-arrow-up-left2:before { content:"\edd3"; }
	.icomoon-arrow-up7:before { content:"\edd4"; }
	.icomoon-arrow-up-right2:before { content:"\edd5"; }
	.icomoon-arrow-right7:before { content:"\edd6"; }
	.icomoon-arrow-down-right2:before { content:"\edd7"; }
	.icomoon-arrow-down7:before { content:"\edd8"; }
	.icomoon-arrow-down-left2:before { content:"\edd9"; }
	.icomoon-arrow-left7:before { content:"\edda"; }
	.icomoon-arrow-up-left3:before { content:"\eddb"; }
	.icomoon-arrow-up8:before { content:"\eddc"; }
	.icomoon-arrow-up-right3:before { content:"\eddd"; }
	.icomoon-arrow-right8:before { content:"\edde"; }
	.icomoon-arrow-down-right3:before { content:"\eddf"; }
	.icomoon-arrow-down8:before { content:"\ede0"; }
	.icomoon-arrow-down-left3:before { content:"\ede1"; }
	.icomoon-arrow-left8:before { content:"\ede2"; }
	.icomoon-circle-up:before { content:"\ede3"; }
	.icomoon-circle-right:before { content:"\ede4"; }
	.icomoon-circle-down:before { content:"\ede5"; }
	.icomoon-circle-left:before { content:"\ede6"; }
	.icomoon-circle-up2:before { content:"\ede7"; }
	.icomoon-circle-right2:before { content:"\ede8"; }
	.icomoon-circle-down2:before { content:"\ede9"; }
	.icomoon-circle-left2:before { content:"\edea"; }
	.icomoon-circle-up-left:before { content:"\edeb"; }
	.icomoon-circle-up3:before { content:"\edec"; }
	.icomoon-circle-up-right:before { content:"\eded"; }
	.icomoon-circle-right3:before { content:"\edee"; }
	.icomoon-circle-down-right:before { content:"\edef"; }
	.icomoon-circle-down3:before { content:"\edf0"; }
	.icomoon-circle-down-left:before { content:"\edf1"; }
	.icomoon-circle-left3:before { content:"\edf2"; }
	.icomoon-circle-up-left2:before { content:"\edf3"; }
	.icomoon-circle-up4:before { content:"\edf4"; }
	.icomoon-circle-up-right2:before { content:"\edf5"; }
	.icomoon-circle-right4:before { content:"\edf6"; }
	.icomoon-circle-down-right2:before { content:"\edf7"; }
	.icomoon-circle-down4:before { content:"\edf8"; }
	.icomoon-circle-down-left2:before { content:"\edf9"; }
	.icomoon-circle-left4:before { content:"\edfa"; }
	.icomoon-arrow-resize:before { content:"\edfb"; }
	.icomoon-arrow-resize2:before { content:"\edfc"; }
	.icomoon-arrow-resize3:before { content:"\edfd"; }
	.icomoon-arrow-resize4:before { content:"\edfe"; }
	.icomoon-arrow-resize5:before { content:"\edff"; }
	.icomoon-arrow-resize6:before { content:"\ee00"; }
	.icomoon-arrow-resize7:before { content:"\ee01"; }
	.icomoon-arrow-resize8:before { content:"\ee02"; }
	.icomoon-square-up-left:before { content:"\ee03"; }
	.icomoon-square-up:before { content:"\ee04"; }
	.icomoon-square-up-right:before { content:"\ee05"; }
	.icomoon-square-right:before { content:"\ee06"; }
	.icomoon-square-down-right:before { content:"\ee07"; }
	.icomoon-square-down:before { content:"\ee08"; }
	.icomoon-square-down-left:before { content:"\ee09"; }
	.icomoon-square-left:before { content:"\ee0a"; }
	.icomoon-arrow-up9:before { content:"\ee0b"; }
	.icomoon-arrow-right9:before { content:"\ee0c"; }
	.icomoon-arrow-down9:before { content:"\ee0d"; }
	.icomoon-arrow-left9:before { content:"\ee0e"; }
	.icomoon-arrow-up10:before { content:"\ee0f"; }
	.icomoon-arrow-right10:before { content:"\ee10"; }
	.icomoon-arrow-down10:before { content:"\ee11"; }
	.icomoon-arrow-left10:before { content:"\ee12"; }
	.icomoon-arrow-up-left4:before { content:"\ee13"; }
	.icomoon-arrow-up11:before { content:"\ee14"; }
	.icomoon-arrow-up-right4:before { content:"\ee15"; }
	.icomoon-arrow-right11:before { content:"\ee16"; }
	.icomoon-arrow-down-right4:before { content:"\ee17"; }
	.icomoon-arrow-down11:before { content:"\ee18"; }
	.icomoon-arrow-down-left4:before { content:"\ee19"; }
	.icomoon-arrow-left11:before { content:"\ee1a"; }
	.icomoon-arrow-up-left5:before { content:"\ee1b"; }
	.icomoon-arrow-up12:before { content:"\ee1c"; }
	.icomoon-arrow-up-right5:before { content:"\ee1d"; }
	.icomoon-arrow-right12:before { content:"\ee1e"; }
	.icomoon-arrow-down-right5:before { content:"\ee1f"; }
	.icomoon-arrow-down12:before { content:"\ee20"; }
	.icomoon-arrow-down-left5:before { content:"\ee21"; }
	.icomoon-arrow-left12:before { content:"\ee22"; }
	.icomoon-arrow-up13:before { content:"\ee23"; }
	.icomoon-arrow-right13:before { content:"\ee24"; }
	.icomoon-arrow-down13:before { content:"\ee25"; }
	.icomoon-arrow-left13:before { content:"\ee26"; }
	.icomoon-arrow-up14:before { content:"\ee27"; }
	.icomoon-arrow-right14:before { content:"\ee28"; }
	.icomoon-arrow-down14:before { content:"\ee29"; }
	.icomoon-arrow-left14:before { content:"\ee2a"; }
	.icomoon-circle-up5:before { content:"\ee2b"; }
	.icomoon-circle-right5:before { content:"\ee2c"; }
	.icomoon-circle-down5:before { content:"\ee2d"; }
	.icomoon-circle-left5:before { content:"\ee2e"; }
	.icomoon-circle-up6:before { content:"\ee2f"; }
	.icomoon-circle-right6:before { content:"\ee30"; }
	.icomoon-circle-down6:before { content:"\ee31"; }
	.icomoon-circle-left6:before { content:"\ee32"; }
	.icomoon-arrow-up15:before { content:"\ee33"; }
	.icomoon-arrow-right15:before { content:"\ee34"; }
	.icomoon-arrow-down15:before { content:"\ee35"; }
	.icomoon-arrow-left15:before { content:"\ee36"; }
	.icomoon-arrow-up16:before { content:"\ee37"; }
	.icomoon-arrow-right16:before { content:"\ee38"; }
	.icomoon-arrow-down16:before { content:"\ee39"; }
	.icomoon-arrow-left16:before { content:"\ee3a"; }
	.icomoon-menu-open:before { content:"\ee3b"; }
	.icomoon-menu-open2:before { content:"\ee3c"; }
	.icomoon-menu-close:before { content:"\ee3d"; }
	.icomoon-menu-close2:before { content:"\ee3e"; }
	.icomoon-enter4:before { content:"\ee3f"; }
	.icomoon-enter5:before { content:"\ee40"; }
	.icomoon-esc:before { content:"\ee41"; }
	.icomoon-enter6:before { content:"\ee42"; }
	.icomoon-backspace:before { content:"\ee43"; }
	.icomoon-backspace2:before { content:"\ee44"; }
	.icomoon-tab:before { content:"\ee45"; }
	.icomoon-transmission:before { content:"\ee46"; }
	.icomoon-transmission2:before { content:"\ee47"; }
	.icomoon-sort:before { content:"\ee48"; }
	.icomoon-sort2:before { content:"\ee49"; }
	.icomoon-move-up:before { content:"\ee4a"; }
	.icomoon-move-down:before { content:"\ee4b"; }
	.icomoon-sort-alpha-asc:before { content:"\ee4c"; }
	.icomoon-sort-alpha-desc:before { content:"\ee4d"; }
	.icomoon-sort-numeric-asc:before { content:"\ee4e"; }
	.icomoon-sort-numberic-desc:before { content:"\ee4f"; }
	.icomoon-sort-amount-asc:before { content:"\ee50"; }
	.icomoon-sort-amount-desc:before { content:"\ee51"; }
	.icomoon-sort-time-asc:before { content:"\ee52"; }
	.icomoon-sort-time-desc:before { content:"\ee53"; }
	.icomoon-battery-6:before { content:"\ee54"; }
	.icomoon-battery-5:before { content:"\ee55"; }
	.icomoon-battery-4:before { content:"\ee56"; }
	.icomoon-battery-3:before { content:"\ee57"; }
	.icomoon-battery-2:before { content:"\ee58"; }
	.icomoon-battery-1:before { content:"\ee59"; }
	.icomoon-battery-0:before { content:"\ee5a"; }
	.icomoon-battery-charging:before { content:"\ee5b"; }
	.icomoon-key-keyboard:before { content:"\ee5c"; }
	.icomoon-key-A:before { content:"\ee5d"; }
	.icomoon-key-up:before { content:"\ee5e"; }
	.icomoon-key-right:before { content:"\ee5f"; }
	.icomoon-key-down:before { content:"\ee60"; }
	.icomoon-key-left:before { content:"\ee61"; }
	.icomoon-command:before { content:"\ee62"; }
	.icomoon-shift:before { content:"\ee63"; }
	.icomoon-ctrl:before { content:"\ee64"; }
	.icomoon-opt:before { content:"\ee65"; }
	.icomoon-checkbox-checked:before { content:"\ee66"; }
	.icomoon-checkbox-unchecked:before { content:"\ee67"; }
	.icomoon-checkbox-partial:before { content:"\ee68"; }
	.icomoon-square:before { content:"\ee69"; }
	.icomoon-triangle:before { content:"\ee6a"; }
	.icomoon-triangle2:before { content:"\ee6b"; }
	.icomoon-diamond3:before { content:"\ee6c"; }
	.icomoon-diamond4:before { content:"\ee6d"; }
	.icomoon-checkbox-checked2:before { content:"\ee6e"; }
	.icomoon-checkbox-unchecked2:before { content:"\ee6f"; }
	.icomoon-checkbox-partial2:before { content:"\ee70"; }
	.icomoon-radio-checked:before { content:"\ee71"; }
	.icomoon-radio-checked2:before { content:"\ee72"; }
	.icomoon-radio-unchecked:before { content:"\ee73"; }
	.icomoon-toggle-on:before { content:"\ee74"; }
	.icomoon-toggle-off:before { content:"\ee75"; }
	.icomoon-checkmark-circle:before { content:"\ee76"; }
	.icomoon-circle:before { content:"\ee77"; }
	.icomoon-circle2:before { content:"\ee78"; }
	.icomoon-circles:before { content:"\ee79"; }
	.icomoon-circles2:before { content:"\ee7a"; }
	.icomoon-crop:before { content:"\ee7b"; }
	.icomoon-crop2:before { content:"\ee7c"; }
	.icomoon-make-group:before { content:"\ee7d"; }
	.icomoon-ungroup:before { content:"\ee7e"; }
	.icomoon-vector:before { content:"\ee7f"; }
	.icomoon-vector2:before { content:"\ee80"; }
	.icomoon-rulers:before { content:"\ee81"; }
	.icomoon-ruler:before { content:"\ee82"; }
	.icomoon-pencil-ruler:before { content:"\ee83"; }
	.icomoon-scissors:before { content:"\ee84"; }
	.icomoon-scissors2:before { content:"\ee85"; }
	.icomoon-scissors3:before { content:"\ee86"; }
	.icomoon-haircut:before { content:"\ee87"; }
	.icomoon-comb:before { content:"\ee88"; }
	.icomoon-filter:before { content:"\ee89"; }
	.icomoon-filter2:before { content:"\ee8a"; }
	.icomoon-filter3:before { content:"\ee8b"; }
	.icomoon-filter4:before { content:"\ee8c"; }
	.icomoon-font:before { content:"\ee8d"; }
	.icomoon-ampersand:before { content:"\ee8e"; }
	.icomoon-ligature:before { content:"\ee8f"; }
	.icomoon-ligature2:before { content:"\ee90"; }
	.icomoon-font-size:before { content:"\ee91"; }
	.icomoon-typography:before { content:"\ee92"; }
	.icomoon-text-height:before { content:"\ee93"; }
	.icomoon-text-width:before { content:"\ee94"; }
	.icomoon-height2:before { content:"\ee95"; }
	.icomoon-width:before { content:"\ee96"; }
	.icomoon-bold:before { content:"\ee97"; }
	.icomoon-underline:before { content:"\ee98"; }
	.icomoon-italic:before { content:"\ee99"; }
	.icomoon-strikethrough:before { content:"\ee9a"; }
	.icomoon-strikethrough2:before { content:"\ee9b"; }
	.icomoon-font-size2:before { content:"\ee9c"; }
	.icomoon-bold2:before { content:"\ee9d"; }
	.icomoon-underline2:before { content:"\ee9e"; }
	.icomoon-italic2:before { content:"\ee9f"; }
	.icomoon-strikethrough3:before { content:"\eea0"; }
	.icomoon-omega:before { content:"\eea1"; }
	.icomoon-sigma:before { content:"\eea2"; }
	.icomoon-nbsp:before { content:"\eea3"; }
	.icomoon-page-break:before { content:"\eea4"; }
	.icomoon-page-break2:before { content:"\eea5"; }
	.icomoon-superscript:before { content:"\eea6"; }
	.icomoon-subscript:before { content:"\eea7"; }
	.icomoon-superscript2:before { content:"\eea8"; }
	.icomoon-subscript2:before { content:"\eea9"; }
	.icomoon-text-color:before { content:"\eeaa"; }
	.icomoon-highlight:before { content:"\eeab"; }
	.icomoon-pagebreak:before { content:"\eeac"; }
	.icomoon-clear-formatting:before { content:"\eead"; }
	.icomoon-table:before { content:"\eeae"; }
	.icomoon-table2:before { content:"\eeaf"; }
	.icomoon-insert-template:before { content:"\eeb0"; }
	.icomoon-pilcrow:before { content:"\eeb1"; }
	.icomoon-ltr:before { content:"\eeb2"; }
	.icomoon-rtl:before { content:"\eeb3"; }
	.icomoon-ltr2:before { content:"\eeb4"; }
	.icomoon-rtl2:before { content:"\eeb5"; }
	.icomoon-section:before { content:"\eeb6"; }
	.icomoon-paragraph-left:before { content:"\eeb7"; }
	.icomoon-paragraph-center:before { content:"\eeb8"; }
	.icomoon-paragraph-right:before { content:"\eeb9"; }
	.icomoon-paragraph-justify:before { content:"\eeba"; }
	.icomoon-paragraph-left2:before { content:"\eebb"; }
	.icomoon-paragraph-center2:before { content:"\eebc"; }
	.icomoon-paragraph-right2:before { content:"\eebd"; }
	.icomoon-paragraph-justify2:before { content:"\eebe"; }
	.icomoon-indent-increase:before { content:"\eebf"; }
	.icomoon-indent-decrease:before { content:"\eec0"; }
	.icomoon-paragraph-left3:before { content:"\eec1"; }
	.icomoon-paragraph-center3:before { content:"\eec2"; }
	.icomoon-paragraph-right3:before { content:"\eec3"; }
	.icomoon-paragraph-justify3:before { content:"\eec4"; }
	.icomoon-indent-increase2:before { content:"\eec5"; }
	.icomoon-indent-decrease2:before { content:"\eec6"; }
	.icomoon-share:before { content:"\eec7"; }
	.icomoon-share2:before { content:"\eec8"; }
	.icomoon-new-tab:before { content:"\eec9"; }
	.icomoon-new-tab2:before { content:"\eeca"; }
	.icomoon-popout:before { content:"\eecb"; }
	.icomoon-embed:before { content:"\eecc"; }
	.icomoon-embed2:before { content:"\eecd"; }
	.icomoon-markup:before { content:"\eece"; }
	.icomoon-regexp:before { content:"\eecf"; }
	.icomoon-regexp2:before { content:"\eed0"; }
	.icomoon-code:before { content:"\eed1"; }
	.icomoon-circle-css:before { content:"\eed2"; }
	.icomoon-circle-code:before { content:"\eed3"; }
	.icomoon-terminal:before { content:"\eed4"; }
	.icomoon-unicode:before { content:"\eed5"; }
	.icomoon-seven-segment-0:before { content:"\eed6"; }
	.icomoon-seven-segment-1:before { content:"\eed7"; }
	.icomoon-seven-segment-2:before { content:"\eed8"; }
	.icomoon-seven-segment-3:before { content:"\eed9"; }
	.icomoon-seven-segment-4:before { content:"\eeda"; }
	.icomoon-seven-segment-5:before { content:"\eedb"; }
	.icomoon-seven-segment-6:before { content:"\eedc"; }
	.icomoon-seven-segment-7:before { content:"\eedd"; }
	.icomoon-seven-segment-8:before { content:"\eede"; }
	.icomoon-seven-segment-9:before { content:"\eedf"; }
	.icomoon-share3:before { content:"\eee0"; }
	.icomoon-share4:before { content:"\eee1"; }
	.icomoon-mail:before { content:"\eee2"; }
	.icomoon-mail2:before { content:"\eee3"; }
	.icomoon-mail3:before { content:"\eee4"; }
	.icomoon-mail4:before { content:"\eee5"; }
	.icomoon-amazon:before { content:"\eee6"; }
	.icomoon-google:before { content:"\eee7"; }
	.icomoon-google2:before { content:"\eee8"; }
	.icomoon-google3:before { content:"\eee9"; }
	.icomoon-google-plus:before { content:"\eeea"; }
	.icomoon-google-plus2:before { content:"\eeeb"; }
	.icomoon-google-plus3:before { content:"\eeec"; }
	.icomoon-hangouts:before { content:"\eeed"; }
	.icomoon-google-drive:before { content:"\eeee"; }
	.icomoon-facebook:before { content:"\eeef"; }
	.icomoon-facebook2:before { content:"\eef0"; }
	.icomoon-instagram:before { content:"\eef1"; }
	.icomoon-whatsapp:before { content:"\eef2"; }
	.icomoon-spotify:before { content:"\eef3"; }
	.icomoon-telegram:before { content:"\eef4"; }
	.icomoon-twitter:before { content:"\eef5"; }
	.icomoon-vine:before { content:"\eef6"; }
	.icomoon-vk:before { content:"\eef7"; }
	.icomoon-renren:before { content:"\eef8"; }
	.icomoon-sina-weibo:before { content:"\eef9"; }
	.icomoon-rss:before { content:"\eefa"; }
	.icomoon-rss2:before { content:"\eefb"; }
	.icomoon-youtube:before { content:"\eefc"; }
	.icomoon-youtube2:before { content:"\eefd"; }
	.icomoon-twitch:before { content:"\eefe"; }
	.icomoon-vimeo:before { content:"\eeff"; }
	.icomoon-vimeo2:before { content:"\ef00"; }
	.icomoon-lanyrd:before { content:"\ef01"; }
	.icomoon-flickr:before { content:"\ef02"; }
	.icomoon-flickr2:before { content:"\ef03"; }
	.icomoon-flickr3:before { content:"\ef04"; }
	.icomoon-flickr4:before { content:"\ef05"; }
	.icomoon-dribbble:before { content:"\ef06"; }
	.icomoon-behance:before { content:"\ef07"; }
	.icomoon-behance2:before { content:"\ef08"; }
	.icomoon-deviantart:before { content:"\ef09"; }
	.icomoon-500px:before { content:"\ef0a"; }
	.icomoon-steam:before { content:"\ef0b"; }
	.icomoon-steam2:before { content:"\ef0c"; }
	.icomoon-dropbox:before { content:"\ef0d"; }
	.icomoon-onedrive:before { content:"\ef0e"; }
	.icomoon-github:before { content:"\ef0f"; }
	.icomoon-npm:before { content:"\ef10"; }
	.icomoon-basecamp:before { content:"\ef11"; }
	.icomoon-trello:before { content:"\ef12"; }
	.icomoon-wordpress:before { content:"\ef13"; }
	.icomoon-joomla:before { content:"\ef14"; }
	.icomoon-ello:before { content:"\ef15"; }
	.icomoon-blogger:before { content:"\ef16"; }
	.icomoon-blogger2:before { content:"\ef17"; }
	.icomoon-tumblr:before { content:"\ef18"; }
	.icomoon-tumblr2:before { content:"\ef19"; }
	.icomoon-yahoo:before { content:"\ef1a"; }
	.icomoon-yahoo2:before { content:"\ef1b"; }
	.icomoon-tux:before { content:"\ef1c"; }
	.icomoon-appleinc:before { content:"\ef1d"; }
	.icomoon-finder:before { content:"\ef1e"; }
	.icomoon-android:before { content:"\ef1f"; }
	.icomoon-windows:before { content:"\ef20"; }
	.icomoon-windows8:before { content:"\ef21"; }
	.icomoon-soundcloud:before { content:"\ef22"; }
	.icomoon-soundcloud2:before { content:"\ef23"; }
	.icomoon-skype:before { content:"\ef24"; }
	.icomoon-reddit:before { content:"\ef25"; }
	.icomoon-hackernews:before { content:"\ef26"; }
	.icomoon-wikipedia:before { content:"\ef27"; }
	.icomoon-linkedin:before { content:"\ef28"; }
	.icomoon-linkedin2:before { content:"\ef29"; }
	.icomoon-lastfm:before { content:"\ef2a"; }
	.icomoon-lastfm2:before { content:"\ef2b"; }
	.icomoon-delicious:before { content:"\ef2c"; }
	.icomoon-stumbleupon:before { content:"\ef2d"; }
	.icomoon-stumbleupon2:before { content:"\ef2e"; }
	.icomoon-stackoverflow:before { content:"\ef2f"; }
	.icomoon-pinterest:before { content:"\ef30"; }
	.icomoon-pinterest2:before { content:"\ef31"; }
	.icomoon-xing:before { content:"\ef32"; }
	.icomoon-xing2:before { content:"\ef33"; }
	.icomoon-flattr:before { content:"\ef34"; }
	.icomoon-foursquare:before { content:"\ef35"; }
	.icomoon-yelp:before { content:"\ef36"; }
	.icomoon-paypal:before { content:"\ef37"; }
	.icomoon-chrome:before { content:"\ef38"; }
	.icomoon-firefox:before { content:"\ef39"; }
	.icomoon-IE:before { content:"\ef3a"; }
	.icomoon-edge:before { content:"\ef3b"; }
	.icomoon-safari:before { content:"\ef3c"; }
	.icomoon-opera:before { content:"\ef3d"; }
	.icomoon-file-pdf:before { content:"\ef3e"; }
	.icomoon-file-openoffice:before { content:"\ef3f"; }
	.icomoon-file-word:before { content:"\ef40"; }
	.icomoon-file-excel:before { content:"\ef41"; }
	.icomoon-libreoffice:before { content:"\ef42"; }
	.icomoon-html-five:before { content:"\ef43"; }
	.icomoon-html-five2:before { content:"\ef44"; }
	.icomoon-css3:before { content:"\ef45"; }
	.icomoon-git:before { content:"\ef46"; }
	.icomoon-codepen:before { content:"\ef47"; }
	.icomoon-svg:before { content:"\ef48"; }
	.icomoon-IcoMoon:before { content:"\ef49"; }